[2015-09-19 18:30] geek opened #4 "Remove unneeded images"
A lot of images in the /images folder are uneeded. We need to purge these.

[2015-09-19 18:31] geek opened #5 "Correctly Indent bullet and numeric lists correctly."
Something not right here, they are not indented properly.

[2015-09-19 18:31] geek opened #6 "Add in fa-university icon and favicon"
Add in 'Seneca' Icon to places it was missing.

[2015-09-19 18:32] geek opened #7 "Finish pulling over getting started section"
The remainder of http://senecajs.org/getting-started.html needs to be copied into the get-started/index.md

[2015-09-19 18:33] geek opened #8 "Link to standard style guide from contribute page"
[Trello Card](https://trello.com/c/mZhrV8YQ/44-senecajs-org-link-to-standard-style-guide-from-contribute-page)

[2015-09-19 18:34] geek opened #9 "Add a tutorial on layering functionality over multiple microservices"
A lot of people new to Seneca are getting tripped up managing how to layer services together. A tutorial taking a few services that interact with each other and discussing strategies for composition will help.

[2015-09-19 18:34] geek opened #10 "Add a tutorial on talking to Seneca via Rest"
Seneca to Seneca or Seneca to transport has various bits of documentation. We are missing a solid tutorial on talking to a Seneca powered microservice via the browser. A good Rest tutorial would be awesome here.

Should discuss different approaches, including https://github.com/rjrodger/seneca-jsonrest-api

[2015-09-19 18:35] geek opened #11 "Add a tutorial on Patterns"
We need to explain Patterns better

[2015-09-19 18:36] geek opened #12 "Review spelling and grammar"

[2015-09-19 18:58] mcdonnelldean opened #13 "Investigate hosting on Surge"
I'd love to get your opinion about hosting on surge.sh. It is a free hosting service and supports CNAME, essentially the exact same as GH-Pages. There are two key differences though.

1: Docs can be much cleaner, we can output to a /dest folder and then run npm run deploy to push them to surge. The overall experience of working with the repo would massively improve.

2: Like npm Surge has a whitel

[2015-09-21 11:24] mcdonnelldean commented on #13
@rjrodger @geek As per mail ^

[2015-09-21 13:37] mcdonnelldean opened #14 "Tutorial explaining Native Driver usage"
In cases where a store plugin uses a native driver under the hood, Seneca provides the ability to access these drivers. We need a Tutorial explaining the most common stores and provide examples.

Bonus points if you update the README's with an example on a per store basis. Each repo already has a section awaiting this info.

[2015-09-22 10:33] mcdonnelldean commented on #4
Done as of #15

[2015-09-22 10:33] #4 closed

[2015-09-22 13:22] mcdonnelldean commented on #13
Done as of #15 But can be reverted very quickly if needed.

[2015-09-22 13:22] #13 closed

[2015-09-22 13:22] mcdonnelldean commented on #5
Fixed.

[2015-09-22 13:22] #5 closed

[2015-09-22 14:54] mcdonnelldean commented on #6
Done as of #24

[2015-09-22 14:54] #6 closed

[2015-09-22 16:31] mcdonnelldean opened #28 "Make mobile magical"
It's not a great experience right now.

[2015-09-23 09:49] mcdonnelldean commented on #7
Done as of #30

[2015-09-23 09:49] #7 closed

[2015-09-23 13:44] mcdonnelldean opened #36 "Code is not overflowing in code boxes"
Need to add CSS to fix this.

[2015-09-23 21:05] mcdonnelldean opened #39 "Fix header on mobile"

[2015-09-23 22:07] mcdonnelldean commented on #39
Done

[2015-09-23 22:07] #39 closed

[2015-09-23 22:08] mcdonnelldean commented on #28
Done

[2015-09-23 22:08] #28 closed

[2015-09-24 09:54] mcdonnelldean commented on #36
Fixed!

[2015-09-24 09:54] #36 closed

[2015-09-24 21:17] mcdonnelldean opened #45 "Update Contributing Section"
We need to update the contribution section here to point to the new repo once it's ready. cc// @geek

[2015-09-28 14:43] mcdonnelldean opened #49 "Look at better fonts for headings"
Right now the headings, menus and other large fonts are jaggy. We need to look at this and see can we improve it either by swapping the font or moving to a heavier set.

cc @AdrianRossouw

[2015-09-28 14:45] robbdempsey commented on #49
little spacing makes it easier on the eye.  `letter-spacing: 1px;`

[2015-09-28 14:47] mcdonnelldean commented on #49
@robbdempsey Awesome, in general or just the headings? How are you finding the body font?

[2015-09-28 14:59] mcdonnelldean opened #50 "Figure out the correct way to have a favicon in all browsers"
For some reason the Favicon hates me. We have the assets but just need to apply them correctly. Anyone have any thoughts on this?

[2015-09-29 20:18] mcdonnelldean opened #52 "Document native driver usage for store plugins"
Store plugins usually provide a common interface to access the underlying module handling storage. We need a tutorial explaining how this works with a number of our popular stores. I suggest:

- leveldb
- mysql
- mongo

[2015-09-29 20:19] mcdonnelldean opened #53 "Document Seneca query syntax"
A tutorial documenting Seneca's query syntax is needed. See below for example:

- `.list$({f1:v1, f2:v2, ...})` implies pseudo-query `f1==v1 AND f2==v2, ...`.

- `.list$({f1:v1,...}, {sort$:{field1:1}})` means sort by f1, ascending.

- `.list$({f1:v1,...}, {sort$:{field1:-1}})` means sort by f1, descending.

- `.list$({f1:v1,...}, {limit$:10})` means only return 10 results.

- `.list$({f1:v1,...},

[2015-09-30 17:39] Ava7 opened #54 "Broken links"
I was going to create a pull request, but then I realized I had some trouble finding the corresponding files so I decided to open an issue instead/first.

So, apparently, [the tutorial pages](https://github.com/senecajs/senecajs.org/tree/master/src/pages/tutorials) contain some links that lead to the old version of the website which now simply throw 404s (if that is even the page that is being use

[2015-10-01 09:58] mcdonnelldean commented on #54
@Ava7 Thanks for reporting this.

If you could list the ones you are having issues with I can look into them directly? The API doc gets autogenerated from the Seneca repo. It essentially downloads it on each build.

@geek @rjrodger We should probably get https://github.com/rjrodger/seneca/pull/172 commited so we can start allowing people to work on the API doc.

[2015-10-01 10:39] rjrodger opened #55 "There are quite a few seneca talks out there - need a page listing them"
lots from me obviously, but also a few others
would really help people to get wider context

[2015-10-01 10:39] rjrodger opened #56 "are we linking to seneca-examples?"
lots of good stuff there for learning

[2015-10-01 10:41] mcdonnelldean commented on #55
Agreed,

They also have nuggets of info in them that would form the basis of good docs. At least for your ones Richard, can you provide links? I'll go a searching on tinterwebz for others and list them here.

[2015-10-01 10:46] mcdonnelldean commented on #56
@rjrodger We are but there are a couple of different repos that need to be merged and cleaned as the canonical Examples repo. This is my weekend task so any repo's you own that are just samples add me too them and I will start merging them all together and improving.

[2015-10-01 11:07] mcdonnelldean opened #57 "Remove tagline from banners."
- [x] remove tagline
- [x] update vectors
- [x] update site footer
- [x] update repo links

[2015-10-01 11:13] mcdonnelldean commented on #54
@Ava7 Once 0.7 goes live (https://github.com/rjrodger/seneca/tree/0.7)

The API doc will be read from https://github.com/rjrodger/seneca/tree/0.7/docs

So to change it, a PR will need to be submitted there. It's slightly odd but we've found the need to include the api doc with the master repo and a need to keep it in sync with the site.

[2015-10-01 11:39] Ava7 commented on #54
@mcdonnelldean I see, that's what I thought initially but wasn't completely sure.

Let me give you an example with one of the links defined in [src/pages/tutorials/how-to-write-a-plugin.md](../tree/master/src/pages/tutorials/how-to-write-a-plugin.md); let's take a look at the first one `[_add_]: http://senecajs.org/api.html#long-m-add`. The anchor is no longer available, and I am not sure if the c

[2015-10-01 12:31] mcdonnelldean commented on #54
@Ava7 Awesome

So if you want to give this a shot here's how to do it:

1: Take a fork of seneca
2: Create a branch of 0.7, not master
3: Edit the api.md doc and add in what you think
4: Make a PR against the 0.7 branch
5: I'll review and merge it to the docs

Do you want to take a crack at it? I can support you if you need help

[2015-10-01 17:40] Ava7 commented on #54
@mcdonnelldean  Sorry for the double mention, I had to delete the branch and create it again.

I have fixed the links which I found to lead to nowhere, and also, I have removed some trailing white spaces which were hanging around the same files I happened to edit. One thing I couldn't figure out is where this link is supposed to lead -- "[guide to writing data store plugins]: /data-store-guide.htm

[2015-10-02 21:05] thekemkid opened #60 "Need a custom 404 page."

[2015-10-03 12:29] #60 closed

[2015-10-03 12:37] mcdonnelldean opened #62 "404 needs styling"
[Trello Card](https://trello.com/c/DkGqcddY/56-senecajs-org-404-needs-styling)

[2015-10-05 08:17] mcdonnelldean commented on #54
@Ava7 Merged that in :D Thank you! Are there any more issues on this ticket to sort or are we good to close?

[2015-10-05 08:29] Ava7 commented on #54
@mcdonnelldean I believe we can close it for now. If I find some other broken links or something else I could re-open it again, or simply open a new one (luckily they are for free).

That's all for now, cheers! :beers:

[2015-10-05 08:29] #54 closed

[2015-10-05 08:30] mcdonnelldean commented on #54
@Ava7 Awesome stuff :+1: Thanks :D

[2015-10-05 11:45] mcdonnelldean opened #65 "Complete API Documentation"
We are missing summaries for all methods in the API doc. We need to get this completed as soon as possible even just enough to round out what is there.

[2015-10-06 10:41] mcdonnelldean commented on #57
Closed via #66

[2015-10-06 10:41] #57 closed

[2015-10-06 10:49] mcdonnelldean commented on #50
Seems to be working right now, just have to wait for cache to expire.

[2015-10-06 10:49] #50 closed

[2015-10-07 10:32] lapserdaq opened #69 "seneca with socket.io"
Hi,

Guys, can you post some example with seneca, hapi and socket.io ?

Cheers,

Michał

[2015-10-07 11:09] mcdonnelldean commented on #69
@lapserdaq Hi! Thanks for the feedback.

I will be developing a set of issues for specific docs we would like to see. This seems like an awesome idea, I will add it to the list.

[2015-10-07 13:38] MikeZTaylor commented on #49
In general, I think we can add the line spacing. I'd also have a look at kerning but this is all to be done when we find the right font.

[2015-10-08 12:44] lapserdaq commented on #69
Acctually i've managed some simple solution, more or less like this:

[code]

MIchal

[2015-10-08 13:12] mcdonnelldean commented on #69
That looks about right :D

[2015-10-11 08:24] SteveALee opened #71 "getting started part 2"
The getting started guide is excellent, one of the best Image read.

It would-be really usefull to go the next step you hint at and outline how you might use Docker. Also an outline full microservices dev. and deploy workflows would be a great help.

Or maybe that is the subject for blogs or a book? :)

[2015-10-11 12:47] mcdonnelldean commented on #71
@SteveALee Thanks for the comments. We actually do have a workshop around using Seneca with seneca and some other popular libs. see https://github.com/nearform/msworkshop

There is a bit of work to do on it before it's ready for non instructor led use. But for now you should be able to see how it all fits together.

[2015-10-11 12:47] #71 closed

[2015-10-14 06:31] paolochiodi opened #72 "guide: how to build a store with seneca-store-test"
Hi, as part of my work in rewriting seneca-store-test I'm going to put together a brief guide on how to build a store.

However, there are a couple of things that are a bit obscure to me, and would be helpful if someone can explain me so that I can add that to the guide.

The first thing I encountered is the ceremony needed to register a store, something like:

[code]

This is common among many of

[2015-10-14 06:31] paolochiodi commented on #72
reposted from https://github.com/rjrodger/seneca/issues/186#issuecomment-147769307

[2015-10-14 11:09] mcdonnelldean commented on #72
Awesome also, I want to make sure we capture the Yeoman generator @geek build for same.

[2015-10-15 09:30] feranf opened #73 "same code working on MAC but not windows"
Hi,
I'm running the following code in MAC - works OK.
**When running it on windows 7 - the following error occurs..**
[code]
* same for http transport
* firewall was disabled...

**The Error:**
2015-10-15T09:14:46.808Z s3fx6o3a4jgi/1444900486776/7384/- DEBUG        act     remote$         IN  m9bqsfq0d1ms/mj7vu98io1jj
        {color:red}     ENTRY   CLIENT  -       -       -
2015-10-15T09:14:57.94

[2015-10-15 09:39] maxired commented on #73
@feranf , are you using the last version (0.7.1) of seneca  ?

[2015-10-15 09:46] feranf commented on #73
@maxired yes

[2015-10-15 10:01] maxired commented on #73
@feranf, using node 4.2.1 and seneca 0.7.1, it works for me on windows 8.1
I had similar issue before I unblock node.js from windows firewall, so you might want to check your firewall again.

Moreover, except if you found this code on seneca.org website, you probably want to post this kind of issue on https://github.com/rjrodger/seneca

[2015-10-15 10:13] mcdonnelldean commented on #73
@feranf If you double check your firewall (and do a restart) and it's still not working, could you follow this link to post a new issue on the http / tcp transport modules issues page:

https://github.com/rjrodger/seneca-transport/issues/new

We don't have a huge amount of Windows users on different versions so if it turns out we have a problem I'd like to look at getting it resolved for you :D

@

[2015-10-15 11:25] maxired commented on #73
@mcdonnelldean , I am gonna do the upgrade right now from windows 8.1
I am more a linux guy, but keep a Windows for this kind of issue ;)

[2015-10-15 11:26] mcdonnelldean commented on #73
@maxired Awesome, if so will you give this a quick whirl and see if it works there? I need to get my VM's in order :D

[2015-10-15 12:38] feranf commented on #73
@mcdonnelldean @maxired
Regarding the firewall, I'm using Symantec firewall, but I disabled it completely so I'm pretty sure its not it.
I'll search and try windows 10 to test on and will let you know.
(I'll submit also an issue also in https://github.com/rjrodger/seneca)

[2015-10-15 12:46] feranf commented on #73
@mcdonnelldean @maxired Just wanted to clarify that it happened using **both http and tcp** transports...
Any way, thanks a lot for your efforts :+1:

[2015-10-15 13:02] thekemkid commented on #73
I'm seeing this issue on win10. and I allowed it through my firewall. I'm investigating :)

[2015-10-15 13:04] thekemkid commented on #73
So far, I have disabled the firewall, and I'm still seeing the issue. Diving deeper.

[2015-10-15 13:05] thekemkid commented on #73
Oh, and node v4.2.0 and seneca v7.1, and windows 10.

[2015-10-15 13:08] mcdonnelldean commented on #73
@thekemkid Awesome work, can I leave this with you? @feranf No need to open the other issue, lets keep it all here at this point :D

[2015-10-15 13:10] thekemkid commented on #73
I'll probably need some support when I get deeper into the internals, I'll talk through what I'm seeing on the gitter for this org?

[2015-10-15 13:12] thekemkid commented on #73
Actually, scratch that, will talk in main seneca room! :)

[2015-10-15 13:13] mcdonnelldean commented on #73
Perfect

[2015-10-15 13:16] feranf commented on #73
@thekemkid Thanks, waiting for good news...
@mcdonnelldean @maxired thanks again, I'll cancel the other issue

[2015-10-15 13:21] mcdonnelldean commented on #73
@feranf Awesome :D Cheers

[2015-10-15 13:37] thekemkid commented on #73
Okay, this is working code:

[code]

[2015-10-15 13:41] maxired commented on #73
@thekemkid , well done.

To clarify, I spoke too quickly and the code was indeed not working on windows 8 without the workaround provided by @thekemkid

[2015-10-15 13:55] thekemkid commented on #73
No problem, I'll self assign this and send a pr to update the documentation

[2015-10-15 14:03] feranf commented on #73
@thekemkid Great news, Its working now! Thanks a lot for the quick response :+1:

[2015-10-15 14:03] #73 closed

[2015-10-15 14:05] maxired opened #74 "Add documentation on $default when acting"
Following the issue https://github.com/rjrodger/seneca/pull/188 ,

looks like the $default option when a seneca client use the act method but no action pattern match the request is not documented.

The behavior is that if $default is an object ( or an array when is merged,  https://github.com/rjrodger/seneca/pull/188 ), and no worker match the pattern asked, then $default will be return, as if if

[2015-10-15 14:07] mcdonnelldean commented on #74
@maxired Awesome. Could you do up a quick sample code to demonstrate this and some point about it. I can then work with @orlacoding to convert this into a doc. Just enough to get going, more so the code :D

[2015-10-15 14:08] mcdonnelldean commented on #73
@thekemkid Awesome stuff

@feranf Any other issues, please let us know.

[2015-10-15 14:11] maxired commented on #74
I thought that the unit test from https://github.com/rjrodger/seneca/pull/188/files and https://github.com/rjrodger/seneca/blob/63744a0a97259f3006733b97b3ed108563c02aca/test/error.test.js#l45L82 would be enough ;)

[2015-10-15 14:13] mcdonnelldean commented on #74
@maxired I'm more looking for something that will explain it in a presentational way. a little simpler, just code and notes.

[2015-10-15 15:13] maxired commented on #74
@mcdonnelldean , what do you think about https://gist.github.com/maxired/347f27231e9a52990f59

[2015-10-15 15:48] mcdonnelldean commented on #74
Awesome, stick it in a code block here. I will build out some content around it for a document and then we can get Orla to help out.

[2015-10-15 15:49] maxired commented on #74
[code]

[2015-10-15 15:52] mcdonnelldean commented on #74
Perfect :D

[2015-10-15 15:52] mcdonnelldean commented on #74
@geek @maxired Do we know of any more of these? I'll most likely start this doc tomorrow.

[2015-10-15 16:49] geek commented on #74
Looks good.  None that I can think of, will log an issue if I do :)

[2015-10-15 19:03] feranf commented on #73
@mcdonnelldean Thanks, appreciate this.

[2015-10-19 09:46] piccoloaiutante opened #78 "Anchor don't work in plugin tutorial page"
Hi,

if you try to click over "Dealing with Options" in seneca plugin tutorial page (http://senecajs.org/tutorials/how-to-write-a-plugin.html,) the page doesn't scroll to the proper position.

[2015-10-19 10:23] #78 closed

[2015-10-19 10:23] mcdonnelldean commented on #78
@piccoloaiutante Cheers for that!

[2015-10-19 14:55] rjrodger opened #80 "update logging tutorial"
code layout a bit off, needs more examples

[2015-10-20 19:53] SteveALee commented on #71
@mcdonnelldean any clues how to get the 2 image .tar files? I couldn't find nearForm on the Docker Hub.

[2015-10-20 20:05] mcdonnelldean commented on #71
@SteveALee For that particular workshop they are just pulled off docker hub:

- nodejs offical
- tutum/influxdb

Do not that there is still some work to be done on that workshop.

[2015-10-20 20:11] SteveALee commented on #71
@mcdonnelldean Ah OK thanks. There were many of each listed. I realised I may not get far but fancied a play :)

[2015-10-21 11:51] mcdonnelldean commented on #55
@code-jace I think we have found a job for ya :D

Basically we need you to go to Vimeo / YouTube and find any talks by Richard and co on Seneca and Microservices in general. I'd like to do a curated list of this content so as you find ones, simply pop the links on this issue and we will go from there.

[2015-10-21 13:48] code-jace commented on #55
## YouTube ##
Richard Rodger - Microservices
https://www.youtube.com/watch?v=fVfWuked2qE

Microservices Dublin (February 2015): Richard Rodger "Measuring Microservices"
https://www.youtube.com/watch?v=ZRBKfyykEw8

Richard Rodger - Measuring Micro-services - Codemotion Rome 2015
https://www.youtube.com/watch?v=SQYCzAWlrHU

Richard Rodger - "How Microservcies fail and what to do about it"
https://ww

[2015-10-21 14:37] code-jace commented on #55
Richard Rodger (2013, IDK)
https://www.youtube.com/watch?v=Qv0VQf7iJGQ

[2015-10-21 23:11] mcdonnelldean opened #86 "Document message transport JSON format"
From: https://github.com/senecajs/seneca/issues/93

- Move document over (https://github.com/senecajs/seneca/blob/master/doc/transport.md)
- Flesh out
- Have language reviewed.

[2015-10-22 01:56] ianhoolihan opened #88 "Minor getting-started documentation bugs"
Very minor: in the 'writing microservices' section of http://senecajs.org/get-started/, it states:

`{ "answer":2 }`

And I believe it should be 3, not 2.

[2015-10-22 02:01] ianhoolihan commented on #88
Also,

First, the listening service (math-plugin.js):

That last link should (I think) be math-pin-client.js, I believe.

[2015-10-22 08:45] mcdonnelldean commented on #88
Thanks @ianhoolihan you look correct on both counts, I will get these looked at today. I'll close the issue when done so you know its ready.

[2015-10-22 10:53] mcdonnelldean commented on #55
@code-jace Awesome, I'll talk to you personally about getting this stuff on to a page. I want to quickly review them first. Also check Vimeo for both Seneca and Richard.

@rjrodger Where do you normally host your slides?

@mcollina @pelger Are any if your talks about Seneca?

[2015-10-23 09:30] mcdonnelldean opened #90 "Create a guide or sample demonstrating Seneca interacting with a React app using Flux principles"

[2015-10-26 06:03] boneskull opened #91 "link to seneca-docs at end of /plugins/ page is broken"
title says it all

[2015-10-26 09:24] mcdonnelldean commented on #91
@boneskull Awesome! Thanks for the ping on this. I'll get it looked at :D

[2015-10-26 19:27] boneskull commented on #91
I was looking for the  "How to Write a Plugin" doc and was having trouble finding it as well.  I see it referenced in various places but most of the links I found were broken.

[2015-10-26 19:42] boneskull commented on #91
(luckily there's not a hell of a lot to know w/r/t writing a plugin)

[2015-10-26 20:51] #91 closed

[2015-10-26 20:53] mcdonnelldean commented on #91
@boneskull So first issue fixed. I'll look into the others tomorrow for you.

[2015-10-27 09:54] mcdonnelldean opened #93 "Create a guide on common security recipies"
We've had a couple of questions on this so a guide with common recipes needs to be created.

[2015-10-27 11:37] borisdiakur commented on #93
:+1:

[2015-10-30 11:11] mcdonnelldean opened #94 "Create a guide on microservice death and failure."
Couple of questions have been fielded on this and answered pretty much the same way. It would be helpful to get a small article on this. See https://github.com/senecajs/seneca/issues/202 for context.

[2015-10-30 14:00] mcdonnelldean opened #96 "Create contributors page"
We have a number of documentationcontributors now, they should be listed on a page and in the package.json

[2015-11-02 07:43] mirceaalexandru commented on #80
Also the logging tutorial uses the syntax:

module.exports = function( seneca, options, callback )

which is no longer supported, this should be updated too.

[2015-11-02 07:47] mirceaalexandru opened #98 "When plugin syntax is wrong the document url is sending to 404"
Try to use a plugin with a wrong syntax:

module.exports = function( seneca, options, callback )

Seneca will die with following message:
.....
ns, callback ) { ... }. The correct format is: function(options) { ... }. For more details, please see http://senecajs.org/write-a-plugin.html

The url for details is not valid, it sends to 404 page.

I think it should be
http://senecajs.org/tutorials/how-

[2015-11-03 20:22] mcdonnelldean commented on #98
@mirceaalexandru Where is this?

[2015-11-03 20:36] mirceaalexandru commented on #98
Seneca is dying with that message. Part of the message is that for details that documentation page should be accessed, and that url is not valid anymore. I did not search for that as I was in that moment forced to fix something else. Tomorrow I will check and create a PR

[2015-11-03 22:24] mcdonnelldean commented on #98
Ah! Yeah a pr would be awesome @geek can approve it.

[2015-11-06 11:50] #98 closed

[2015-11-06 11:51] mirceaalexandru commented on #98
Fixed by
https://github.com/senecajs/seneca/commit/1612a384931e6e4ece9f2ef30515d4335ab6b7c7

[2015-11-09 16:38] mingfang opened #99 "Error running "Live Logs in your Browser" sample."
The "Live Logs in Your Browser" sample here http://senecajs.org/tutorials/logging-with-seneca.html has a line like this
```var server = http.createServer(seneca.service())```
I'm getting this error when trying to run it.
[code]

[2015-11-10 11:46] SteveALee commented on #56
There's a link to https://github.com/senecajs/seneca-examples on http://senecajs.org/tutorials/ and that is 404

[2015-11-10 15:06] geek commented on #56
@rjrodger can you move seneca-examples to /senecajs

[2015-11-10 15:07] mcdonnelldean commented on #72
@paolochiodi Answers for the above.

The init stuff is basically a hook to allow a plugin to run a setup. Generally a plugin will have,

[code]
declared so that when seneca inits the store it will get called. It provides essentially an 'onload' event.

The meta stuff is just a bunch of data that seneca generates when you give it your plugin. Things like tags, log description, etc. Basically metada

[2015-11-12 14:07] basharov opened #102 "https://github.com/senecajs/seneca-examples goes to 404"
Link to samples page on `/tutorials` page shows 404 on Github.

[2015-11-12 16:03] bluepuma77 commented on #102
"Seneca examples
For convenience, we have a number of sample apps in a single repository. This repository covers single concepts as well as popular plugins. See the repo at Seneca samples."

http://senecajs.org/tutorials/

But the repository seems to be gone: https://github.com/senecajs/seneca-examples

[2015-11-16 15:38] vtardia commented on #90
I have a sample working application with a Seneca backend and a React/Flux front-end.

I also tried to plug in Seneca as flux-style dispatcher, but it has two problems:

 - it does not work inside the browser (see https://github.com/senecajs/seneca/pull/105)
 - with Seneca you can have only one listener to a certain pattern, while on flux you can have multiple objects listening to an action; the d

[2015-11-16 15:54] #62 closed

[2015-11-17 16:07] timsim00 commented on #90
Hi @vtardia, can you post your code?

[2015-11-17 16:48] geek commented on #8
no longer needed

[2015-11-17 16:48] #8 closed

[2015-11-17 22:48] mcdonnelldean commented on #90
@timsim00 Take a look at [Varo](https://github.com/varo) It should give you enough to do flux.

[code]

[code]

As soon as time permits I'll do some guides on this. I know @vtardia is also doing some playing around with Flux using Varo specifically, where as the code above is just Varo with React (I'm not a flux fan).

[2015-11-17 22:49] mcdonnelldean commented on #90
Also as a heads up, you will ned to use something like webpack to wire it all up as Varo comes via npm

[2015-11-18 22:33] timsim00 commented on #90
Off topic: Does anyone have any thoughts about a microservice component framework for the UI?  I like what OpenTable is doing, but would like to use React.  There are some solutions out there, Graft, Compozure, OpenTable, etc.; but I'm not seeing anything fully baked.

[2015-11-19 19:57] kulakowka opened #106 "Specify the version for which written documentation?"
It would be nice if for each example or documentation for API was indicated version of the library. The usual case where documentation was not updated with new versions of the library. Maybe you can specify which version of the library has been written documentation?

[2015-11-19 20:02] kulakowka commented on #106
Also, it is possible to add the current version of the library. This is easily done by using badges (http://badge.fury.io/for/js/seneca).

For example: [![npm version](https://badge.fury.io/js/seneca.svg)](https://badge.fury.io/js/seneca)

[code]

This badge can be placed near to the indication of the version in the documentation. This allows you to quickly determine what documentation outdated an

[2015-11-20 14:59] vtardia commented on #99
Fixed in https://github.com/senecajs/senecajs.org/commit/545c4ebcaf928324a1fe68baa25bd9ef49565d09, fixed examples are in senecajs/seneca#242

[2015-11-20 15:02] #99 closed

[2015-11-20 16:54] vtardia commented on #90
@timsim00 code posted: https://github.com/vtardia/seneca-varo-react-example

[2015-11-24 15:29] vtardia commented on #90
A self-contained varo-flux plugin is available here https://github.com/vtardia/varo-flux

[2015-11-24 15:36] vtardia commented on #80
I've worked on it as part of #99 and fixed the examples in senecajs/seneca#242, still not perfect but a little more consistent

[2015-11-24 15:58] #102 closed

[2015-11-25 09:44] AdrieanKhisbe opened #109 "guide to writing data store plugins link broken"
on page *understanding-data-entities:

     [guide to writing data store plugins]: /data-store-guide.html

[2015-11-26 09:35] Sam2304 opened #111 "Pin-Format Documentation is missing"
The link to documentation on the pin api resolves to a 404: http://senecajs.org/api/desc-pin-pattern-format when attempting to access it from http://senecajs.org/api/

Let me know if there is anything I can do to help.

[2015-11-26 09:44] paolochiodi commented on #111
Hi, I'm doing some work on that as part of #65. Hopefully you'll see improvements soon.

[2015-11-26 09:45] Sam2304 commented on #111
Good to know!  Thanks.

[2015-11-26 14:44] AdrieanKhisbe opened #112 "Api page broken link"
Where should they point?
- http://senecajs.org/entity-canon-format
- http://senecajs.org/api/desc-pin-pattern-format

(i'll fix it and make a PR :))

[2015-11-26 14:50] AdrieanKhisbe commented on #65
(@mcdonnelldean: is the trello board private to the development team, or is it possible to join it?)

[2015-11-26 14:54] paolochiodi commented on #65
The Trello board was private, but has been closed and all the discussion is happening in public (issue tracker or gitter chat).
The original card didn't have any additional info.

I'm working on this, let me know if you have any suggestion or if you'd like to help

[2015-11-26 15:07] AdrieanKhisbe commented on #65
Okey Dokey,

I won't hesitate to give you any suggestion.
I'm currently building a POC using seneca to learn it, and check if it fits my team needs. (I totaly does for me :))
I'll give a hand with pleasure, but unsure I'll be that timesaving for you since I'm still new to seneca.
At least I can give you feedback on the Doc you are writing

[2015-11-26 15:09] AdrieanKhisbe commented on #96
looks like it's done :)
http://senecajs.org/contributors/

[2015-11-26 15:55] mcdonnelldean commented on #65
It's public as far as I know. @geek ?

Kindest Regards,

Dean

[2015-11-27 14:57] AdrieanKhisbe commented on #65
Unfortunately no,  I get a :

[2015-11-27 15:14] #109 closed

[2015-11-27 15:26] #88 closed

[2015-11-30 16:56] kmworner opened #113 "Seneca example in FinTech"
We have release a sample Foreign Exchange trading platform to our [GitHub ] (https://github.com/thecitysecretltd/Lumen-FX) and it makes full use of Seneca. Links to the live demo are on our [website] (http://www.thecitysecret.com/lumenfx)

thecitysecret ltd

[2015-11-30 17:19] #96 closed

[2015-11-30 17:19] geek commented on #96
Thanks @AdrieanKhisbe

[2015-11-30 18:39] geek commented on #112
Can you remove the links for now?

[2015-12-03 09:48] AdrieanKhisbe commented on #112
will do :)

[2015-12-03 09:53] AdrieanKhisbe commented on #112
done :)

[2015-12-03 10:51] #112 closed

[2015-12-03 11:43] AdrieanKhisbe commented on #65
@rjrodger @geek @mcdonnelldean  :question:

_sorry to mention you to revive the discussion_ :smiley:

[2015-12-03 13:15] mcdonnelldean commented on #65
@AdrieanKhisbe Sorry about this. The board should be public. Let me ping @geek When he gets on and sort it out.

[2015-12-03 13:18] AdrieanKhisbe commented on #65
Don't be @mcdonnelldean :smiley:

[2015-12-03 15:09] geek commented on #65
That linked to an old board, here is the current one: https://trello.com/b/CHOb0esy/seneca-release-0-8

We switched gears, so we are creating cards that don't necessarily relate to a single github issue.

[2015-12-03 15:21] AdrieanKhisbe commented on #65
Huge thanks @geek :)
If i'm right you are using the column as sprint, and label as status. (todo, inprogress, done)

where can I find the documentation of a card action:
for instance https://trello.com/c/4OcHNJPj/47-add-support-in-sentinel-for-hapi-chairo-projects
didin't found any mention to `Sentinel` in `Chairo`

[2015-12-03 16:02] geek commented on #65
ahh, ya... sometimes they are bigger tasks that may span a few projects where there aren't issues setup.  For that task, the issue is here: https://github.com/senecajs/seneca-sentinel/issues/9

[2015-12-07 13:42] ckiss commented on #55
@mcdonnelldean this task was assigned to me by Wyatt. I will write on the slack channel and ask anybody to provide any links they have containing seneca talks.

[2015-12-07 14:13] ckiss commented on #55
More Links with seneca talks/slides:
- Dean @ Node.js Dublin 26th Nov 2015: http://pattern-matching-is-awesome.mcdonnelldean.me
- Richard @ Node.js Dublin 16 Aug 2012: http://www.slideshare.net/rjrodger/introducing-the-seneca-mvp-framework-for-nodejs

[2015-12-07 18:19] mcollina commented on #55
"We are not Object-Oriented anymore" - https://skillsmatter.com/skillscasts/6819-we-are-not-object-oriented-anymore-or-why-the-node-callback-style-is-awesome#showModal?modal-signup-complete
slides: https://github.com/mcollina/we-are-not-object-oriented-anymore-demo
writeup: http://thenewstack.io/microservices-node-js/

[2015-12-08 10:44] mcdonnelldean commented on #90
@timsim00 Some stuff there for you now. @vtardia Good job.

[2015-12-08 10:44] #90 closed

[2015-12-09 16:37] mcdonnelldean commented on #113
@rjrodger Have you seen this? @kmworner This is epic! I'll need a few days to get through it :D

[2015-12-09 16:38] mcdonnelldean commented on #113
CC @geek

[2015-12-09 16:39] mcdonnelldean commented on #113
@kmworner Could you provide your logo? We would be more than happy to pop it up on the website. If you have an SVG that would be epic but I can work with anything.

[2015-12-09 17:07] kmworner commented on #113
![logo hires](https://cloud.githubusercontent.com/assets/11629238/11692409/368f2a20-9e97-11e5-99bf-4d9bb7dc84ea.jpg)
![logo](https://cloud.githubusercontent.com/assets/11629238/11692410/36a6845e-9e97-11e5-919b-112bcb7a90e3.png)

I hope these logos give you some options, I also have tiff and psd but they are on the large side.

[2015-12-09 17:15] mcdonnelldean commented on #113
I might grab the tiff and psd off you to make sure it looks it's best. Could you ping me at dean.mcdonnell[at]nearform.com. I'd like to talk more about your system :D

For now I'm going to pull it down and kick it's tires. We have a couple of OSS projects to support microservices that I'd like to run it against to see how they match up.

Truly epic stuff though, it's very impressive!

[2015-12-11 12:44] #55 closed

[2015-12-18 08:47] AdrieanKhisbe commented on #11
Maybe we should point to https://www.youtube.com/watch?v=O1PhCGdMiIY?

@mcdonnelldean :+1:

[2015-12-18 08:50] AdrieanKhisbe opened #123 "Prioritarise Documentation Need"
Many Documentation guide have to be written.

Might be a good idea to determine which one are the most urgent so that we focus our attention on tehm.
Idea would be to mark them with a dedicated label, after we identify them with a discussion.

(tags to distingate between: core, user(use seneca), contributor(extend seneca), guide, tutorial might also be usefull)

@geek @rjrodger

[2015-12-18 08:50] AdrieanKhisbe commented on #123
And identify some **milestones** could be a good idea too.!

[2015-12-18 12:28] mcdonnelldean commented on #123
@AdrieanKhisbe Agreed! Do you want to kick this off being a user? I want to see what your thoughts are on this.

[2015-12-18 12:29] mcdonnelldean commented on #113
@AdrieanKhisbe If I upload the resources for this (I got them by mail) Could you handle getting the logo up? I'm flat out of time :(

[2015-12-18 12:33] AdrieanKhisbe commented on #113
yep, where should it go?

[2015-12-18 12:34] AdrieanKhisbe commented on #123
why not :)
Will draft this on paper, and come up with a milestone proposal later in the afternoon

[2015-12-18 12:35] mcdonnelldean commented on #113
Front page in the logo section. I'll added the logo to the files in about 30 mins and ping you when it's available. Your a star!

[2015-12-18 12:36] mcdonnelldean commented on #113
@AdrieanKhisbe We should probably put a link the example done by @kmworner on our examples page too!

[2015-12-18 12:36] mcdonnelldean commented on #123
Perfect!

[2015-12-18 12:44] AdrieanKhisbe commented on #113
okey dokey
(you can ping me on gitter :) )

[2015-12-18 15:25] AdrieanKhisbe commented on #113
@mcdonnelldean, done with a8afec0 ;)

[2015-12-18 17:04] AdrieanKhisbe commented on #113
online, closing :)

[2015-12-18 17:04] #113 closed

[2015-12-18 17:17] AdrieanKhisbe commented on #123
*So here is the plan* :)

The three step:

+ Core documentation
  - API #65
  - Pin documentation format #111
  - Data entity query syntax #53
  - Build store #72

+ Feature plugins
  - review user, account, web, etc with the *to be* action documentation syntax
  - make doc for account, settings and project

+ Guides and Tutorial
   #11  #94  #93 #52 #14 #9 #10

--------

Also, aside some tasks:
+

[2015-12-18 19:24] mcdonnelldean commented on #113
Good job!

[2015-12-21 14:16] mcdonnelldean commented on #123
@AdrieanKhisbe Looks good,

I would probably drop the pin stuff as we are looking to depreciate it. I'd rather focus on the others. Apart from that though it looks like a solid order.

[2015-12-21 14:22] AdrieanKhisbe commented on #123
@mcdonnelldean  I'm gonna then create the milestone :)

About the pin, is there some issue with the option to depreciate it ? To see the motivations.

[2015-12-21 14:25] blainsmith commented on #123
![](http://33.media.tumblr.com/ef933ec5397f1f53077fd89adfba19f2/tumblr_inline_nf3fnhnRIX1r9z4pa.gif)

[2015-12-21 14:31] paolochiodi commented on #123
@AdrieanKhisbe @mcdonnelldean I've previously worked on three of the core guides but at the moment I'm unable to complete any of them because I've run out of time.
I'll try to use a couple of nights to organise and share the notes I took for myself while working on #65.
I've also recently updated the seneca-store-test, so I have a good knowledge for #53.

What is your desired timeline for the docu

[2015-12-21 14:32] mcdonnelldean commented on #123
@paolochiodi I'd just drop whatever you have done into https://github.com/senecajs/senecajs.org/tree/master/src/pages/drafts. We can get them finished then.

[2015-12-21 14:36] AdrieanKhisbe commented on #123
thanks @paolochiodi ! :)

by *desired timeline*, you mean to share your notes? or writing for #53 or #65 ?

[2015-12-21 14:38] paolochiodi commented on #123
I originally meant for #53 and #65. i.e.: if end of December works for you I can spend some time during the holidays and may be able to complete at least one of the two.
If you need it quicker I'll try to share my notes before Christmas.

[2015-12-21 14:41] AdrieanKhisbe commented on #123
end of december is totalluy good for me :)
With this issue, I was just try that we agree on which documentation should be completed first.

[2015-12-21 14:56] #45 closed

[2015-12-21 15:01] AdrieanKhisbe commented on #123
@mcdonnelldean @paolochiodi, just created the milestones, and dispatched the issues.
any feedback is welcome :)

[2015-12-24 10:55] AdrieanKhisbe opened #127 "Integrating Docsearch"
Integrate [Algolia](https://www.algolia.com/) for better search doc experience:

cf: https://community.algolia.com/docsearch/

(currently in contact with an algolia team member :) )

[2015-12-24 10:58] AdrieanKhisbe opened #128 "Self host Contribution pages"
Have content of [Contrib](https://github.com/senecajs/contrib) available on seneca.org

Built on #45

[2015-12-24 11:19] AdrieanKhisbe commented on #123
milestines created, no feedback so far. closing the issue then. :)

Let's Doc&Roll

[2015-12-24 11:19] #123 closed

[2015-12-26 17:16] blainsmith opened #130 "Plugin Specific Docs"
Some of the README.md files have references their local `docs` folder, but the repo references are old and need to be updated. However, since they now live under the senecajs org that does not have a GitHub Pages set up so even the new locations don't work.

http://senecajs.github.io/seneca-level-store/doc/level-store.html

I think we someone just needs to setup GitHub Pages for the senecajs org f

[2015-12-28 15:18] geek opened #131 "Document plugin exports for seneca"
Moved issue from https://github.com/senecajs/seneca/issues/148

[2015-12-28 16:44] mcdonnelldean opened #132 "Merge /Contrib"
We have agreed to merge /contrib into this lib.

I think we should also,

- Update the readme of this repo to point to the markdown docs ala contrib
- Ensure the readme states this is the place for all needs previously assigned to /contrib

[2015-12-28 16:45] mcdonnelldean commented on #132
Boo! Only one person can be assigned to an issue... Thats pants of the highest order

[2015-12-28 16:48] geek commented on #132
@mcdonnelldean hehe, thats a new one to me... what does pants of the highest order mean?

[2015-12-28 16:49] AdrieanKhisbe commented on #132
does it even mean something? :jeans:  ^^

[2015-12-28 16:52] mcdonnelldean commented on #132
@geek Pants is a way to say boll*cks when kids are around :D

[2015-12-28 16:58] mcdonnelldean commented on #130
@blainsmith Can you clarify?

Throw me some examples?

The docs (this site) is hosted via surge.sh (it gets published every time master changes). If the doc exists on senecajs.org the readmes need to be updated to point there (we can open issues).

[2015-12-28 19:22] geek commented on #132
Glad I asked :)  I am writing this down in my book, "How to cuss around kids"

[2015-12-29 13:26] blainsmith commented on #130
For the level store is is the content within https://github.com/senecajs/seneca-level-store/tree/master/doc that used be accessible via http://rjrodger.github.io/seneca-level-store/doc/level-store.html, but once it was moved to the senecajs org they stopped working.

[2015-12-29 15:47] AdrieanKhisbe commented on #132
what remains to be done before closing the issue?

[2015-12-29 15:53] AdrieanKhisbe opened #134 "Documentation pages for seneca tools"
Was considering a page, or set of pages with docs/tuto for a lot of tools underlying seneca.

Most of them from @rjrodger such as jsonic, patrun, parambulator, eraro, tagx, gex

What do you think??

[2015-12-30 16:17] #132 closed

[2015-12-30 16:18] geek commented on #132
Contrib is now deleted... we will want to review links on the site to make sure we don't have anything going to the contrib repo

[2015-12-30 16:20] geek commented on #134
I like this idea.  We could enhance our `/API` page to have child contents, like you did for contribute.  Thoughts?

[2015-12-30 16:21] AdrieanKhisbe commented on #132
@geek what happened to its issues?

[2015-12-30 16:24] AdrieanKhisbe commented on #134
not yet (sleepy mind), but one remark:

We should make the distinction clear between the *seneca api* (lib api), the *seneca actions* (microservices api)

[2015-12-30 16:26] AdrieanKhisbe commented on #134
I think it should be similar to what hapi will take as option to document the plugins.
(apiaction doc belongs in the respective plugin repositery)

though one problem is that contrary to hapijs.com, senecajs.org is statically generated website

[2015-12-30 16:39] geek commented on #132
@AdrieanKhisbe they were outdated issues I opened a while back... I almost moved them over to discuss... but they won't be missed.

[2015-12-30 16:40] AdrieanKhisbe commented on #132
has long as migration takes place! :)

[2015-12-30 19:08] geek opened #135 "Document using joi for action validation"
Moved from https://github.com/senecajs/seneca/issues/174

See https://github.com/senecajs/seneca/pull/238

[2015-12-31 08:14] AdrieanKhisbe opened #136 "Code higlighting"
Add markdown highlight plugin

[2015-12-31 08:15] AdrieanKhisbe opened #137 "Refactor metalsmith with config object"
Replace programatic approach with a config driven approach using `metalsmith.json` config file

[2015-12-31 08:38] AdrieanKhisbe commented on #134
Mmmm, look what I stumble on:
https://github.com/geek/metalsmith-download

:D

[2015-12-31 11:41] AdrieanKhisbe opened #139 "Choose a proper syntax highlighting color scheme"
Highlight default is not that cool.
Need to customize it :rainbow: :art:  :grinning:

[2015-12-31 16:02] #128 closed

[2016-01-05 10:19] #136 closed

[2016-01-05 10:19] #137 closed

[2016-01-05 10:19] AdrieanKhisbe commented on #127
note: waiting for algolia contact

[2016-01-05 10:20] AdrieanKhisbe commented on #94
@mcdonnelldean
Could you tell me where these questions has been fielded?  :smiley:

[2016-01-05 10:23] AdrieanKhisbe commented on #56
done cf http://senecajs.org/tutorials/

[2016-01-05 10:23] #56 closed

[2016-01-05 10:29] AdrieanKhisbe commented on #123
Happy new year @paolochiodi :smiley:
Did you had to devote to documentation?

[2016-01-05 10:35] AdrieanKhisbe commented on #106
@kulakowka
Where do you want the badge to be?
(badges are currently being added to all seneca-plugins README)

[2016-01-05 10:38] mcdonnelldean commented on #106
I'd like to do this but it would need to be done at a content level. I think when 1.0 hits we should use the opportunity to version the docs by url. Thoughts @senecajs/contributors

[2016-01-05 10:48] AdrieanKhisbe commented on #106
hapijs website could be an example how to do that

[2016-01-05 17:13] AdrieanKhisbe opened #140 "Fix deployment build"
Currently failing:

https://travis-ci.org/senecajs/senecajs.org/builds/100392805#L217

[2016-01-05 17:23] AdrieanKhisbe commented on #140
Here is the error:

[code]

[2016-01-05 17:24] AdrieanKhisbe commented on #140
Note: from 3ac985bbd4a4bfbc95e8fb9583303db5a2119633, the travis will be failing if error when building the static site

[2016-01-05 17:25] AdrieanKhisbe commented on #140
@mcdonnelldean @orlacoding @geek.
Any hint, intuition, or hunch :grey_question:

[2016-01-05 17:27] AdrieanKhisbe commented on #140
Answer might be there: https://github.com/superwolff/metalsmith-layouts
But I have no time to investigate right now.

[2016-01-05 17:56] #140 closed

[2016-01-05 17:59] AdrieanKhisbe commented on #140
:clap: @geek :exclamation: :D

[2016-01-05 18:24] AdrieanKhisbe opened #142 "Suggestion: Stability badges?"
Shall we use Stability badges to flag seneca-plugin stability
https://www.npmjs.com/package/stability-badges

![experimental](http://hughsk.github.io/stability-badges/dist/experimental.svg)
![unstable](http://hughsk.github.io/stability-badges/dist/unstable.svg)

**Motivation:** so far we have on seneca.js plugin that are in very different state of maturity. some still draft, some more matured.
Wou

[2016-01-06 10:44] mcdonnelldean commented on #142
@senecajs/contributors I'm happy to do this as long as it links to a doc explaining our definitions of each stability. It would make looking for work easier too.

[2016-01-06 10:46] AdrieanKhisbe commented on #142
@mcdonnelldean  :+1: :smiley:

[2016-01-06 21:37] thekemkid opened #144 "Documentation: Add a CONTRIBUTING.md to the base of seneca projects"
Started already with this PR: https://github.com/senecajs/seneca/pull/292

And mentioned why in this PR: https://github.com/senecajs/senecajs.org/pull/143

If we start adding a CONTRIBUTING.md to the base of every project, we will have the contribution guidelines pop up when people attempt to create a PR. Pretty nifty. I got the idea when talking to @geek.

[2016-01-06 21:45] thekemkid commented on #144
cc @senecajs/contributors

[2016-01-06 22:57] geek commented on #142
We should do this.  We just need to update our http://senecajs.org/contribute/details/guidelines.html to detail the different badges.  I vote just having stable and unstable, what do others think?

[2016-01-07 12:54] mihaidma opened #145 "Missing logos"
on http://senecajs.org/ there are logo images missing or links broken

[2016-01-07 12:57] mihaidma opened #146 "Contribute page broken links"
Most of the links are broken:

https://github.com/senecajs/senecajs.org/blob/master/src/pages/contribute/index.md

[2016-01-07 13:14] AdrieanKhisbe commented on #145
For some obscure reason, svg service is broken:

http://senecajs.org/images/tcs-logo.svg
![broken](http://senecajs.org/images/tcs-logo.svg)

[2016-01-07 13:15] AdrieanKhisbe commented on #146
Merging #143 should do the trick

[2016-01-07 13:18] AdrieanKhisbe commented on #146
Would have to look if @metalsmith takes care to convert `.md` links to `.html`

[2016-01-07 13:24] mihaidma commented on #146
can we prevent this from happening again?

[2016-01-07 13:28] AdrieanKhisbe commented on #146
What do you mean?

Setting a broken link checker?

This happened because we move the whole contrib repo under senecajs.org pages. So theoriticaly this exact cause wont occur anymore

[2016-01-07 13:37] mcdonnelldean opened #147 "Link color on landing page is not common"
Some are green, some aren't.

[2016-01-07 13:38] mcdonnelldean commented on #145
That's really odd? Is it for all svg's?

[2016-01-07 13:40] AdrieanKhisbe commented on #145
looks like that.
The two broken logo are the svg ones. (all other are png)

[2016-01-07 13:47] mcdonnelldean commented on #145
Really Odd.. Any opinions?

[2016-01-07 13:48] mcdonnelldean commented on #146
Broken link checker would do no harm all the same? It would be nice if .md where auto changed too.

[2016-01-07 14:25] mihaidma commented on #146
I mean I see a whole chain of issues: someone PRed something broken, the broken stuff got merged, the merged stuff got published, the broken changes stayed unnoticed.

We should enhance the process.

Let me disagree: theoretically it will happen again :)

[2016-01-07 14:31] mcdonnelldean commented on #146
I agree with @mihaidma. This issue will come up over and over, we should guard against it. I know there are some metalsmith plugins that will throw on failure, we need to look at things like this.

[2016-01-07 14:41] AdrieanKhisbe commented on #146
And I do agree too.
I just meant that broken link would not probably come from ingesting another repo.
But for sure they'll come from other reasons :)

I'll check how to set up https://github.com/davidxmoody/metalsmith-broken-link-checker

[2016-01-07 14:42] AdrieanKhisbe commented on #145
except that `svg` racism, I don't see ^^

[2016-01-07 14:50] AdrieanKhisbe commented on #145
seems to come from metalsmith.
Tested locally on my machine adding another svg.

Issue poster: cf https://github.com/metalsmith/metalsmith/issues/209

[2016-01-07 15:22] AdrieanKhisbe commented on #145
Fixed by b7974cb

[2016-01-07 15:23] AdrieanKhisbe commented on #145
And live. Closing

[2016-01-07 15:23] #145 closed

[2016-01-07 16:18] AdrieanKhisbe commented on #147
Looks like a *feature, not a bug*:

Visited vs non visited:

[code]

[2016-01-07 16:19] AdrieanKhisbe commented on #146
@mcdonnelldean @mihaidma :
Do you agree I close this and create a *setup link check* issue?

[2016-01-07 16:20] mcdonnelldean commented on #146
Sure

[2016-01-07 16:21] mcdonnelldean commented on #147
Lets change hit here for sure as it makes the splash look odd

[2016-01-07 16:23] AdrieanKhisbe opened #148 "Setting up link Checker"
Setup a link checker with https://github.com/davidxmoody/metalsmith-broken-link-checker

Sequel of #146
Close #146

[2016-01-07 16:23] #146 closed

[2016-01-07 16:24] AdrieanKhisbe commented on #147
@mcdonnelldean :green_apple: or :orange_book: ?

[2016-01-07 18:15] mcdonnelldean commented on #147
??

[2016-01-07 18:59] AdrieanKhisbe commented on #147
shall I go for orange or greeny/turquese links?
^^

[2016-01-07 19:31] mcdonnelldean commented on #147
The greeny ones kill the orange

Kindest Regards,

Dean

[2016-01-07 20:02] mcdonnelldean commented on #147
@AdrieanKhisbe les pommes sont mieux que les oranges

[2016-01-07 20:46] AdrieanKhisbe commented on #147
haha.

Made a quick change with  7929c90
Made visited link draker green. And orange on overing.

Waiting some more style discussion (cf #139)

Considering also setting us scss. (so we have proper variables!!)

[2016-01-07 20:46] #147 closed

[2016-01-07 21:10] mcdonnelldean opened #149 "Implement LESS to simplify CSS management"
@AdrieanKhisbe I agree we need something here.

However, I want to avoid SCSS because of it's learning curve. While I appreciate it's not a particularly large curve one of the strict instructions for this project is keep it beginner simple, we want this to be a place people can make their first contributions. We need to very carefully balance our contribution complexity vs our needs.

Really the o

[2016-01-07 21:14] AdrieanKhisbe commented on #149
Why do you say scss has a tougher learning curve than less?
(said scss since I was a bit more familiar, and seemed like it had won the beauty contest)

Totally agree for the requirements. (would just add to have `darker(color, percent)`

[2016-01-07 21:18] AdrieanKhisbe commented on #149
Here would be the plugins:

- https://github.com/christophercliff/metalsmith-less (3 stars, 3 contributors, ,37 commits)
- https://github.com/stevenschobert/metalsmith-sass (19 stars, 8 contrinutors, 70 commits)

[2016-01-07 21:21] mcdonnelldean commented on #149
Sass has far more power, people tend to want to use it when available. This leads to complicated CSS and makes it harder for someone who only has CSS as their knowledge.

[2016-01-07 21:28] AdrieanKhisbe commented on #149
I see. and Understand.
and Less had the function I wanted: http://lesscss.org/functions/#color-operations-darken

So it's perfect :)

[2016-01-08 06:08] AdrieanKhisbe opened #150 "Refactors with seneca-assets"
https://github.com/treygriffith/metalsmith-assets

[2016-01-08 12:47] #150 closed

[2016-01-08 12:59] ckiss commented on #149
@mcdonnelldean @AdrieanKhisbe I don't think the learning curve of any of sass or less should be a no go here :) If people don't know any of them(which I don't think is the case) they can still write plain CSS in those files, right?

[2016-01-08 13:10] mcdonnelldean commented on #149
Looking around, it does seem sass has moved more to looking like CSS as much as possible.

I also see SASS really is leading the charge. Hmm, ok lets go with Sass but keep it simple @AdrieanKhisbe

[2016-01-08 13:31] AdrieanKhisbe commented on #149
Roger that :D

Was waiting for my ci bump to be merge into metalsmith-less before doing the operation

[2016-01-08 18:40] AdrieanKhisbe commented on #149
on progress there:
https://github.com/AdrieanKhisbe/senecajs.org/tree/setup-scss

So far just set up. and applied netsing.
then extract color into variables

[2016-01-08 19:17] #149 closed

[2016-01-09 10:38] AdrieanKhisbe commented on #148
Done

[2016-01-09 10:38] #148 closed

[2016-01-09 10:42] AdrieanKhisbe opened #153 "Write a responsible disclosure policy"
Here is a suggestion from [an article](https://kev.inburke.com/kevin/dont-use-sails-or-waterline/) I ended up reading while unstaking my tab article on OSS projects

- What guarantees are given about time to a patch?
- Will reporters be credited for their work in finding a vulnerability?
- How are critical security vulnerabilities disclosed to the community?
- Are vulnerabilities given a CVE numbe

[2016-01-10 07:20] AdrieanKhisbe commented on #49
@mcdonnelldean,  Is it still needed, or has been fixed?

[2016-01-10 12:43] mcdonnelldean commented on #49
Can be closed

Kindest Regards,

Dean

[2016-01-10 13:02] #49 closed

[2016-01-10 14:27] thekemkid opened #154 "Document .publish() method."
Added here: https://github.com/senecajs/seneca/pull/291

This will fire an act with fatal$ set to false.

[2016-01-11 11:39] mcollina commented on #153
I think we should just point people to https://nodesecurity.io. Also, we should run https://www.npmjs.com/package/nsp as a prepublish script, just to make sure everything is ok on our side.

[2016-01-11 11:48] AdrieanKhisbe commented on #153
:+1: for running `nsp` !

And good idea for pointing to nodesecurity. Perfect *ratio effort/effect*

where do you think we should put it on the website/[repo](https://github.com/senecajs/senecajs.org)?

[2016-01-11 11:54] mcollina commented on #153
I think we should put it in the project/subprojects readme. As for the
website, we should possibly put it into its own page, but I'll leave that
decision to the others.
Il giorno lun 11 gen 2016 alle 11:48 Adrien Becchis <
notifications@github.com> ha scritto:

[2016-01-11 12:11] mcdonnelldean commented on #153
@AdrieanKhisbe I'd like to talk to @rjrodger about this before we make any decisions.

[2016-01-11 12:13] AdrieanKhisbe commented on #153
@mcdonnelldean No problem :)

Was just raising up the subject :smiley:

[2016-01-11 18:47] lionpants opened #155 ""Beat Your Manager" links to undesirable page"
The "Beat Your Manager" image under the "Who uses Seneca" section links to... lets just say; not what I was expecting. :-P

Looks like its the correct URL, but the owners lost the domain or something.

**WARNING**: NSFW, which is unfortunately where I found this problem.

![screen shot 2016-01-11 at 1 42 31 pm](https://cloud.githubusercontent.com/assets/4184468/12242846/63bf1a5a-b869-11e5-9c1d-631

[2016-01-11 19:12] AdrieanKhisbe commented on #155
Indeed Indeed...

I see three possible course of action:

- replace link to point to appstore.
- disable link for now
- remove beat your manager.

@mcdonnelldean. what's your mind?

[2016-01-11 19:33] geek opened #156 "Support multiple seneca api version"
We need to make the API page version specific.  We can keep it simple and make the landing page have links to the versioned API pages.

[2016-01-11 20:20] AdrieanKhisbe commented on #156
What file structure should we go for?

`src/pages/api/index.md` for the current, and `api-X.Y` for the other.

[2016-01-11 21:06] thekemkid commented on #155
I wonder if they're using seneca? :laughing:

[2016-01-11 22:08] #155 closed

[2016-01-11 22:18] AdrieanKhisbe commented on #144
I'm thinking it would be a good thing to agree to standardize how a plugin should be in term of README:

- badges, header, structure
- Api documentation. (file and format)
- contributing.md
- other config: .eslintrc, .npmigno, gitignore, travis
- License

[2016-01-11 22:21] geek commented on #156
@AdrieanKhisbe yep, thats what I was thinking.  Like how you split out the contribute pages.  With an index landing page and then child version pages

[2016-01-11 22:44] thekemkid commented on #144
We also need to standardise the lead maintainer, the package.json, and the how npm is maintained. Are we just supposed to npm publish modules we maintain? how do we aggregate our npm modules? Just some extra thoughts.

[2016-01-12 02:41] AdrieanKhisbe commented on #144
exactly :)

[2016-01-12 09:55] AdrieanKhisbe opened #158 "Proposal to Improve the communication between contributors."
Seneca.js is becoming more and more active, and I'm sure it will go further after yesterday release.
Also new contributors have join the team!   \o/
Effective Communication between @senecajs/contributors is getting more and more important.

To do that, we use mainly two channels:
- On specific subjects/issuest: the **github issues**, that are more and more used.
- Interactive live communication be

[2016-01-12 10:04] mihaidma commented on #158
:+1: I also feel the need to communicate and be able to synchronize with other team members. The public gitter would be ok-ish for most topics.

[2016-01-12 10:12] AdrieanKhisbe commented on #158
the two gitter will stay public.
What I see on gitter is there is collision, and interference of discussion of intern collaborator discussion and extern users&community discussions.

Hence the opening of a second gitter, this one specialized on contributing. ;)

[2016-01-12 11:16] mcollina commented on #158
I'm :+1: on these. Also, we should probably set up a biweekly/monthly call with contributors, just to discuss the direction of the project.

[2016-01-12 11:42] padraigbdoolan commented on #155
Hi guys, I'm the owner of that domain - this definitely is not our doing and we are working now to rectify the situation. Thanks for notifying us

[2016-01-12 12:27] AdrieanKhisbe commented on #158
@mcollina. Excellent Idea!!!  :tada:

[2016-01-12 13:03] thekemkid commented on #155
Drop a comment here when fixed & we'll revert the commit :)

Cheers,
Glen

[2016-01-12 13:04] AdrieanKhisbe commented on #155
@thekemkid :+1:

[2016-01-12 13:04] padraigbdoolan commented on #155
Hi everyone, we have taken the site down while we deal with this - apologies to anyone who clicked on the link

[2016-01-12 13:06] padraigbdoolan commented on #155
Will do, cheers!

[2016-01-12 15:06] #154 closed

[2016-01-12 15:12] thekemkid commented on #158
We will (obviously) need to keep notes of any notable discussions or decisions made on gitter. Github issues is obviously the best way of conveying this info.

Any organisational discussions/decisions about repos/structures, etc, should they be logged as issues on this repo, or on the core seneca repo?

For example, when we finalise some form of standard structure for repos & readmes (for issue #1

[2016-01-12 17:42] geek commented on #153
Love supporting security researchers.  We can model after the node security page: https://nodejs.org/en/security/  I am sure @evilpacket will be happy that we have one.

[2016-01-12 18:11] evilpacket commented on #153
This is rad. Great initiative.

If it's a sub dependency nsp should be a good go to to catch it on ci or a hook of some kind.

It would still be good to document your intentions with things that directly effect the main project or modules that you maintain of it.

Anything you can document on the project as to the following is good.
- how to report vulnerabilities (is it an email address, do you w

[2016-01-12 18:23] AdrieanKhisbe commented on #153
thanks @evilpacket for these pieces of advice! :smiley:

@geek shall we add one Security only to seneca and senecajs.org,
or in each plugins? (in that case, we would have to add them to the in building seneca cocktail of #144)

[2016-01-13 09:46] AdrieanKhisbe opened #159 "Ecosystem Trello Board"
##### Here is a proposal to have a trello board to have a quick overview of the whole *seneca* ecosystem.

Here is how this would be organised:

- **List** are used to capture the differents categories, Cards represent the differents plugins and co.
- ***Labels**
  + So far I used label to capture the status of the plugin, cf #42. Using the same color.
  + Some extra label were added to represent

[2016-01-13 16:01] geek commented on #144
@thekemkid if you have publish rights then I would say you can publish any module you have access to at any time that you see fit.

The lead maintainer should be at the top of the module readme.  I vote we leave it up to the maintainer to decide on how they add authors and contributors to the package.json.

[2016-01-13 17:16] thekemkid opened #160 "Document transport `path` param."
Did you know, that when calling `.listen(options)` on a seneca instance, you may provide a path property to the options parameter when using web/http? I didn't.

To revise, you may create your listener like so:

[code]

(I provided the defaults for `type: 'web'` above, so by default the `path` is '/act', try it :smile:)

You can hit then hit a uri ("http://host:port/path") externally with `'Conten

[2016-01-13 17:39] AdrieanKhisbe commented on #160
:+1: GREAT @thekemkid

[2016-01-13 18:02] thekemkid commented on #144
README Standardisation:

[code]

[2016-01-13 18:49] thekemkid commented on #144
Example CONTRIBUTING.md

[code]

[2016-01-13 18:52] thekemkid commented on #144
I edited the contrib.md from seneca core for use in other non-core repos (above). The main difference is the removal of the requirement to add coverage tests for new features. If needed, we can advise to add them per PR, or the contrib.md could be modified back to put that in, depending on the maintainer :)

[2016-01-14 08:19] AdrieanKhisbe commented on #144
@thekemkid
Could you create a repositery for that? That would be better for discussion and incremental tweaking  :)
(I can do it if your prefer)

[2016-01-14 12:28] thekemkid commented on #144
I can do it later :)
On 14 Jan 2016 08:19, "Adrien Becchis" <notifications@github.com> wrote:

[2016-01-14 13:22] AdrieanKhisbe commented on #144
:+1:  :smiley:
Ping me when you'll have started ;)

[2016-01-14 19:53] mcdonnelldean opened #161 "Move to Chakra's more explicit code of conduct"
I want to move to Chakra's more explicit code of conduct as it better describes how the lead maintainers feel about our contributors. I also think the code of conduct should be reproduced, like the license within the contribute page itself.

- [Chakra CoC](https://github.com/Microsoft/ChakraCore/blob/master/CODE_OF_CONDUCT.md)

[2016-01-14 20:35] mcdonnelldean opened #162 "Contribute pages don't have template applied"
Looks to be the ones pulled in from /contribute

We should write a metalsmith plugin that checks if a template has been applied before publish and throw an error if we are missing an expected one.

[2016-01-14 20:36] mcdonnelldean opened #163 "Principles page is not linked"
The principles doc needs to be linked in /contribute http://senecajs.org/contribute/principles.html

[2016-01-14 20:40] mcdonnelldean commented on #156
Added this to phase one, we should get this done before seneca 2 hits. Documentation should reflect the current version and only split on major version, otherwise we won't be able to reliably support versioning I think.

[2016-01-14 20:42] #69 closed

[2016-01-14 21:17] AdrieanKhisbe commented on #156
Well not 100% sure for limiting to only major.
Since we're supposed to add feature on minor function, doc from 1.x should be different from 1.y.

I had one idea in mind, (that might require a metalsmith plugin):
The Api.md is stored on the seneca, on the repo. It is versionned along the code.
The documentation, is just the different versions of this Api.md file.
The metalsmith plugin, would be to

[2016-01-14 21:31] #163 closed

[2016-01-14 21:31] AdrieanKhisbe commented on #163
voila :)

[2016-01-14 21:32] AdrieanKhisbe commented on #162
@mcdonnelldean you mean at the top of the file?
If so, no problem, by default it's the main layout that is applied.

[2016-01-14 21:48] AdrieanKhisbe commented on #161
Which relevant section in particular do you think. We could incorportae to existing one:

https://github.com/senecajs/senecajs.org/blob/master/src/pages/contribute/details/code-of-conduct.md

An alternative to replication. would be that on each README, we have a badge pointing to the code of conduct
[![CC](https://img.shields.io/badge/code_of_conduct-open,civilized&respectful-379199.svg)](better d

[2016-01-14 21:50] AdrieanKhisbe commented on #159
? :smiley:

[2016-01-14 22:04] thekemkid commented on #159
No reply means no complaints: +1 From me :+1:

[2016-01-14 22:08] mihaidma commented on #159
@geek started a shared gdoc a while ago. Should we move that to a public trello?

[2016-01-14 22:10] mcdonnelldean commented on #161
I'd rather fully replace, nice to stick with standards. Love the idea of the badge. Can we have spaces between the , and &? I would like this in addition to the replication. I want us to be explicit in our commitment.

[2016-01-14 22:10] thekemkid commented on #161
I dislike the ambiguity of `to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful`

[2016-01-14 22:11] mcdonnelldean commented on #159
@geek I think this is a nice alternative to the gDoc.

[2016-01-14 22:18] mcdonnelldean commented on #161
Bans can always be peer reviewed in the interest of fairness and the reality is bans would be closely monitored by all lead maintainers, at the very least by Myself, @geek, @rjrodger or @mcollina. @AdrieanKhisbe and yourself also know what is and isn't obviously harmful behaviour, your good people. The reality they will not be a common occurrence.

I don't want to kick off a debate on the wording,

[2016-01-14 22:18] mcdonnelldean commented on #162
When you navigate to them they aren't styled and look raw.

[2016-01-14 22:19] mcdonnelldean commented on #163
@AdrieanKhisbe You're awesome Kid!

[2016-01-14 22:23] thekemkid commented on #162
yup: http://senecajs.org/contribute/details/styleguide.html

[2016-01-14 22:26] AdrieanKhisbe commented on #161
About the badge:

[![CC](https://img.shields.io/badge/code_of_conduct-open,_civilized_&_respectful-379199.svg)](https://github.com/senecajs/senecajs.org/blob/master/src/pages/contribute/details/code-of-conduct.md)

Code source:
[code]

but has a side note, that was just an example. Should be more consive I think :)

[2016-01-14 22:29] AdrieanKhisbe commented on #161
Also, I hadn't reallied it was an emerging standard at first lecture. no I see more the point :)

[2016-01-14 22:33] mcdonnelldean commented on #161
@AdrieanKhisbe I like the long one, it's informative without being in your face. There is a little underscore coming up for me after the _. Once that's removed, we are good to go.

[2016-01-14 22:34] #162 closed

[2016-01-14 22:34] AdrieanKhisbe commented on #162
don't know why, default template had disappered from the json config.

Now restrore :)

[2016-01-14 22:35] thekemkid commented on #144
Pew, Pew Pew: https://github.com/thekemkid/seneca-standardised-repo
We can pr and issues stuff over here :)

[2016-01-14 22:36] AdrieanKhisbe commented on #161
This is more a glitch with shields.io

Bye bye ampersand -> [![CC](https://img.shields.io/badge/code_of_conduct-open,_civilized_and_respectful-379199.svg)]

[2016-01-14 22:40] thekemkid commented on #161
I don't wanna debate either, too tired for that! :sleepy:

I'm 50/50, on the fence, with the CoC change, so either way, I'm cool and not objecting in any real way :)

[2016-01-14 23:01] mcdonnelldean commented on #161
@thekemkid Let's try it out, see how we fare, if it's not working we can always look at alternatives, such is the POWER OF COMMUNITY!

[2016-01-15 06:50] AdrieanKhisbe commented on #144
PRs incomning

[2016-01-15 06:51] AdrieanKhisbe commented on #144
One question though.
Shall we discuss standard here and apply there,
or discuss directly on repo??

(we should move it to senecajs as soon as we can :) )

[2016-01-15 08:37] AdrieanKhisbe opened #164 "Document plugin initialisation"
In plugin tutorial, plugin initialisation is mention, but not yet documented

cc @mlequain

[2016-01-15 09:52] AdrieanKhisbe commented on #159
Since it seems to receive positive feedback, I started to incrementaly build it

[2016-01-15 11:37] thekemkid commented on #144
We have this issue open, so we can discuss here, but, any suggested changes could simply be made in PR's, and discussed on the relevant PR. We could link to the individual PR's here, so there is a trail for anyone that tries to follow this issue.

I can transfer the repo to senecajs now, if you like :)

[2016-01-15 19:39] geek commented on #159
I am supportive of anything that helps people find out what the state of our system is.  I really wish that Github had better organization tooling to handle issues.

Do you all think we need trello instead of relying on https://github.com/orgs/senecajs/dashboard only?

[2016-01-15 19:42] cjihrig commented on #159
You could try adding your name to https://github.com/dear-github/dear-github

[2016-01-15 19:45] geek commented on #159
@cjihrig thanks... signed!

[2016-01-15 19:49] geek commented on #156
I like the idea.  We can add API.md to the seneca repo and then the metalsmith plugin can grab from the latest releases and look in each tree for the file to pull: https://github.com/senecajs/seneca/tree/v1.0.0

[2016-01-15 20:46] AdrieanKhisbe commented on #156
exactly! :)

the config in fact is a map ( `path` -> `file`)

[2016-01-15 20:47] thekemkid commented on #159
Tbh, I forgot about the dashboard. I think a trello board might be a better choice (right now.)

[2016-01-16 07:16] AdrieanKhisbe opened #166 "Stagging website"
While building #165, comes to me the need to have some staging,
so we could test what the website would look on the world wide web.

Main benefit is that everyone can see progress and comment on that.
Besides it prevents the *work's on my machine* syndrome.

@mcdonnelldean.
What do you think how that? and how could we set this up?

[2016-01-16 15:11] mcdonnelldean commented on #166
@AdrieanKhisbe Let me have a think about how this should work, for now though just sign up to surge.sh, then you can push it to a xyz.surge.sh bucket and see it on the real web.

I would most likely end up doing the following to support staging:

- Add `npm run stage`
- Use `staging.senecajs.org` as the link
- Have maintainers added to the surge acc
- Allow maintainers to run staging manually via

[2016-01-16 17:22] AdrieanKhisbe commented on #166
Thanks @mcdonnelldean
Will do but on monday. *Hackathon Oblige :)*

[2016-01-16 17:27] mcdonnelldean commented on #166
Enjoy!

[2016-01-16 20:52] #161 closed

[2016-01-16 20:53] mcdonnelldean opened #168 "Broken link errors"
Need to check these out, seen a couple when adding CoC, nothing major though

[2016-01-18 16:43] n321203 opened #169 "Question: Calling seneca services from other languages?"
Hi,
Seneca looks great.
Has anyone tried calling Seneca services from python or any other (non-node) language? The reason is that I am using github.com/spotify/luigi for background tasks management which is a very good tool but it is written in Python. It would be great to be able to call Seneca services directly from the task scheduler.

I am guessing you have to implement the service discovery m

[2016-01-18 19:42] mcdonnelldean commented on #169
You could talk to them directly, if you use the http transport just set your seneca instance up to listen on a specific port and use http to talk to it. I'm out right now but this should give you an idea of what you need. https://github.com/senecajs/seneca-transport#non-seneca-clients I'd love to see some non node clients myself :D

[2016-01-18 19:44] thekemkid commented on #169
Maybe this will help: https://github.com/senecajs/senecajs.org/issues/160

Basically, when you tell seneca to .listen, you can provide a path parameter if listening on http.

this path parameter can be hit from any external service with json.  Then seneca will handle the json, send it to the appropriate pattern handler, and send the reply.

Try run this code:
[code]

When that is running you shoul

[2016-01-19 06:28] AdrieanKhisbe commented on #169
I'm gonna add some clarification about this in the doc/tuto, waiting for the proper guide:
cf  #10

[2016-01-19 16:06] AdrieanKhisbe commented on #158
So @senecajs/core and @senecajs/contributors, let's go and open this channel?

[2016-01-19 16:07] AdrieanKhisbe commented on #159
@senecajs/contributors
Any feedback so far?

[2016-01-19 16:56] jhyland87 opened #170 "Lack of detail for the API documentation"
Minor issue, but I was thinking that the [API Documentation](http://senecajs.org/api/) seems a bit lacking, don't you think? I mean the methods **export, pin, close, client, listen and act** basically just have the method listed, and the arguments they accept, but no detail as to what they actually do.

If I'm reading this wrong, or looking in the wrong place, then I apologize.

Thanks

[2016-01-19 17:11] AdrieanKhisbe commented on #170
I totally agree, it needs to be improve. cf #65.
(you're perfectly in the good place).

With @senecajs/core getting the 1.0, documentation is the more prioritary issue.
I'm going to be watchful about this, but unfortunately can't write the documentation alone. :/

Have a look to [seneca nodeschool workshop](https://github.com/senecajs/seneca-in-practice) if you haven't done it yet :)

(by the way,

[2016-01-21 09:47] AdrieanKhisbe opened #171 "Going for a more agilistic, kanban style, trello organisation"
Hello @senecajs/core and @senecajs/contibutors

**What I propose is to adopt a more _Kanban Style Organisation_.**
With that it would be better to see what we are working on,
and how we can contribute to help complete the feature that are
almost ready to ship.

Using _labels_, we could distinguish kind of tasks, and also target what are the focus point, the extra feature, ...

Besides, it would en

[2016-01-22 12:30] rumkin opened #172 "Broken link to nearForm.com"
Main page contains broken link to nearfor.com.

[2016-01-22 12:48] #172 closed

[2016-01-25 17:50] AdrieanKhisbe commented on #170
Check out  http://senecajs.org/api/ @jhyland87,
@kamil-mech made an **AWESOME** job this weekend :smiley:

Then considering the issue solved :)

[2016-01-25 17:50] #170 closed

[2016-01-25 17:51] AdrieanKhisbe commented on #168
@mcdonnelldean, do you remember which one?

(metalsmith link checker giving too much false positive to it's easy to miss non false positive)

[2016-01-25 17:54] AdrieanKhisbe commented on #131
Done by #173

[2016-01-25 17:54] #131 closed

[2016-01-25 17:56] AdrieanKhisbe commented on #65
@senecajs/core  With awesome work of @kamil-mech, shall we close the issue or no?

[2016-01-25 17:56] AdrieanKhisbe commented on #158
(Or we can use the senecajs organisation: but it's less open: https://gitter.im/senecajs)

[2016-01-25 20:08] kamil-mech commented on #170
@AdrieanKhisbe  You're welcome :)

[2016-01-26 10:44] rjrodger opened #177 "Spelling! ARG! "separator""
https://github.com/senecajs/senecajs.org/blob/master/src/template/partials/seperator.html

http://i.imgur.com/8mS65Uk.jpg

[2016-01-26 10:46] mcdonnelldean commented on #177
@rjrodger In my defence, this came from the theme, I merely copy / pasted it :D

[2016-01-26 10:48] AdrieanKhisbe commented on #177
@rjrodger Is that really an Issue? :p

[2016-01-26 10:49] rjrodger opened #178 "Why is markdown emphasis not working?"
`_foo_`  looks the same as normal text.

[2016-01-26 11:07] orlacoding commented on #177
Yes it's an issue! :) Documentation quality is a core value in Seneca.

[2016-01-26 11:07] mcdonnelldean commented on #178
I bet this is a styling bug.

[2016-01-26 11:13] mcdonnelldean commented on #177
@AdrieanKhisbe A clean house is a happy house :D

[2016-01-26 11:16] AdrieanKhisbe commented on #177
@orlacoding, We have so many [real Doc issues](https://github.com/senecajs/senecajs.org/issues?q=is%3Aissue+is%3Aopen+label%3Adocumentation) that get no attention, to spoil time for a _detail_ that has no consequence at all for the end user. :wink:

We have to stop with `words` and start to (_seneca_).`act`() :smiley:

[2016-01-26 11:17] AdrieanKhisbe commented on #177
@mcdonnelldean, speaking how cleaning, we should do a _grand nettoyage de printemps_ /*sping-cleaning_ ;)

[2016-01-26 12:06] orlacoding commented on #177
@AdrieanKhisbe Natural language uses the same principle as code Adrien - details are what make or break quality. It's a core principle of Seneca to have high quality documentation. Quality comprises quality within individual docs files as well as quality in more general terms such as scope and variety.

[2016-01-26 12:16] AdrieanKhisbe commented on #177
@orlacoding For sure, and the reverse is also true. code(and so doc) use some language principles

what I would say it what break quality more is not a broken detail in a unexposed area. (what this issue is), but many broken details either in the code (which affect contributors), or in documentation
_“Stop Wasting Time on the Details and Commit to the Fundamentals”_

Also see my actions on this re

[2016-01-26 12:22] mcdonnelldean commented on #177
Folks, Let's cut this one short.

The bottom line here is nobody is arguing this is an urgent change; just a necessary one. At the end of the day any open issue is something anybody can do. I don't want collaborators getting too zealous over particular wants or needs of the project. Ultimately, any improvement, no matter how minor, is good for the project.

I want new people to see issues like thi

[2016-01-26 12:22] #177 closed

[2016-01-26 12:23] mcdonnelldean opened #179 "Crown Dean as Lead Maintainer"
Note for myself to add me as the Lead Maintainer of this project. This has always been the case, I just haven't got around to hanging my name on the door :D

[2016-01-26 12:26] mcdonnelldean commented on #171
@AdrieanKhisbe It would be @geek @rjrodger who need to look at this, it would be them working with it on a day to day basis.

[2016-01-26 12:32] rjrodger commented on #177
*BDFL Policy*

Documentation quality (incl. structure, grammar, spelling, consistency, etc.) are of equivalent value to Code.

As inspiration: http://www.economist.com/styleguide/introduction

[2016-01-26 12:37] mcdonnelldean commented on #177
^ This, quality in everything we do. We are a community project, having tasks available for the community is important, just because an issue is raised does not mean it is going to impact on Collaborator work. Any and all issues relating to quality, no matter how minor, should be raised.

Let's please leave it at this.

[2016-01-26 13:58] mcdonnelldean commented on #168
Not particularly, what false positives are we getting and why?

[2016-01-26 14:04] AdrieanKhisbe commented on #179
\o/

[2016-01-26 14:07] AdrieanKhisbe commented on #177
we could have like in spacemascs  a `Beginner Friendly` label,

cf: https://github.com/syl20bnr/spacemacs/issues?q=is%3Aopen+is%3Aissue+label%3A%22Beginner+friendly%22

[2016-01-26 14:13] AdrieanKhisbe commented on #168
[code]

Maybe could just be solved with order of plugin.

[2016-01-26 14:27] AdrieanKhisbe commented on #171
Okey.
Waiting for your input @geek and @rjrodger.
Feel free to ask me anything, I'll be pleased to explain the rationale, and whyes.

[2016-01-26 14:34] mcdonnelldean commented on #168
Yea we need to fix these, otherwise it looks like we are broken when we aren't

[2016-01-26 14:58] AdrieanKhisbe commented on #168
My last commit seems to fix this ;)
8768923ee65ee0b577c440be0437153559cacfb8

[2016-01-26 15:24] #179 closed

[2016-01-26 15:39] mcdonnelldean opened #181 "CSS / HTML Overhaul"
The current visual style of the site is fine and should not change, however the underlying template and css are pretty terrible, for example:

- Use of icon fonts
- Super heavy bootstrap markup
- Terrible mobile performance and layout
- Terrible coloring of code boxes and inline code fragments
- Generally heavy, sluggish and in need of attention

## Notes

- Fonts need to be local or have some sor

[2016-01-26 15:42] mcdonnelldean commented on #168
@AdrieanKhisbe So ordering was the issue?

[2016-01-26 15:42] #168 closed

[2016-01-26 16:57] AdrieanKhisbe commented on #168
seems so. No false positive after that

[2016-01-27 13:15] rjrodger opened #182 "add links to videos on tutorials page"

[2016-01-27 13:32] AdrieanKhisbe commented on #182
@rjrodger Where are the videos links?

[2016-01-27 13:58] mcdonnelldean opened #183 "Update Contributors page with relevant links"
@AdrieanKhisbe Your missing, @blainsmith your missing. Generally anyone that has a commit against the master branch of any of our projects (in org) should be on that list.

@AdrieanKhisbe Do you at least want to add yourself and a few other high volume people?

[2016-01-27 13:59] mcdonnelldean commented on #181
@thefoxis This is for next week. I'll mail you about it this afternoon.

[2016-01-27 13:59] AdrieanKhisbe commented on #183
Noted, will do in the afternoon or tonight. :wink:

[2016-01-27 14:01] AdrieanKhisbe commented on #181
Idea, might be a good idea to replace boostrap by sematicUi.
http://semantic-ui.com/

(it's not because I went yesterday to [Paris.CSS meetup](https://twitter.com/CSSParis) that I am a css expert ^^)

[2016-01-27 14:07] mcdonnelldean commented on #181
@AdrieanKhisbe :D @thefoxis Has done a lot of work for us already, it is in VERY capable hands.

[2016-01-27 14:08] blainsmith commented on #183
I'm not missing actually. I was added way back when https://github.com/senecajs/senecajs.org/commit/a69549b036377e46a4990d96eeb90b4613ecb764

[2016-01-27 14:11] AdrieanKhisbe commented on #181
@mcdonnelldean No doubt about this!
was just sharing a thought that came to my mind yesterday :smiley:

[2016-01-27 14:14] mcdonnelldean commented on #183
Oh you are :D Super, @AdrieanKhisbe I'd at least add you now, there is a blog post coming that mentions the page, get your name up in lights! The post is going out soon.

[2016-01-27 14:19] AdrieanKhisbe commented on #183
_soon_, _soon soon_ or _soon soon soon_?
(minutes, hours, or days? :D)

[2016-01-27 14:19] AdrieanKhisbe commented on #183
(dump the other name you think I should add, and I'll do at my next break)

[2016-01-27 14:25] mcdonnelldean commented on #183
Hours :D Just you for now, I'll add the rest

[2016-01-27 14:33] AdrieanKhisbe commented on #183
Noted sir!, Incoming!

[2016-01-27 14:37] AdrieanKhisbe commented on #183
cf cea20f7950b38b65d30fa32802f2132ae461ce88

[2016-01-27 14:56] mcdonnelldean commented on #183
Super, I'll add others to the list here.

[2016-01-28 16:03] som-soni opened #184 "FAQ: senecajs mongostore configuration for slave db connection"
How do we configure mongo-store to connect to slave mongodb.

[2016-01-28 16:09] AdrieanKhisbe commented on #184
(@som-soni -> might be better to ask this on the dedicated repositery)

(@senecajs/contributors -> we might need a maintener for mongo-store: pending PR, and issues)

[2016-01-28 17:44] som-soni commented on #184
@AdrieanKhisbe thanks for your response. Following option while creating mongo-store works.

options:{
            readPreference : 'secondary'
       }

[2016-01-28 17:44] #184 closed

[2016-01-29 12:37] AdrianRossouw commented on #158
https://gitter.zendesk.com/hc/en-us/articles/200178951-Gitter-rooms

So what do we want to call the channel?

[2016-01-30 08:04] paolochiodi commented on #123
@AdrieanKhisbe sorry, as you may have guessed I didn't have time and neglected this issue.
Unfortunately if I have to be honest I don't know how much time I'll have in the near future to work on this. Maybe it's a better idea to leave this free for others to pick

[2016-01-30 10:32] AdrieanKhisbe commented on #123
I undestand.

Do what you can. :)
You can saw me the raw notes and draft if you want.

_Courge!_

[2016-01-31 19:59] kamil-mech commented on #53
Should we stick that under http://senecajs.org/tutorials/understanding-data-entities.html
or make a new tutorial?

[2016-01-31 20:05] AdrieanKhisbe commented on #53
would rather say make a new one.

Ideally at some point we would have tutorial groups. (groupoing together the one about a similar subject)

[2016-01-31 20:16] mcdonnelldean commented on #53
Yup lets go new, keep them small and focused.

[2016-01-31 20:34] kamil-mech commented on #53
I'm trying to create a new page by replicating behaviour of an existing page.

However, markup doesn't work on my page. Am I missing something?

[code]

![seneca a microservices toolkit for node js - mozilla firefox_001](https://cloud.githubusercontent.com/assets/10513845/12704768/f2f85e34-c859-11e5-8f07-7a71cf8bdbbb.png)

[2016-01-31 20:39] kamil-mech commented on #53
My mistake. I named the file with `.html` extension, not `.md`

[2016-01-31 21:05] kamil-mech commented on #53
Just to put it out there, I think `fields` isn't there anymore.

[2016-01-31 21:16] mcdonnelldean commented on #53
Quite possibly :D It's been a while :D

[2016-01-31 21:18] kamil-mech commented on #53
Too bad, it would be very powerful to have ^^

[2016-01-31 21:27] mcdonnelldean commented on #53
There is some new magic coming soon to allow custom queries, not ready yet though.

[2016-01-31 21:30] mcdonnelldean commented on #144
Be careful here folks, as @geek says Lead maintainer can decide individual style, we can certainly have this as a guide but I'm against enforcing this level consistency. It never ends well.

[2016-01-31 21:31] mcdonnelldean commented on #182
@AdrieanKhisbe I have a list our Social Media manager is curating, I will transfer the contents here. We have loads.

[2016-01-31 21:32] mcdonnelldean commented on #178
Included as part of #181 (It's a missing style issue)

[2016-01-31 21:33] kamil-mech commented on #53
We need to double check the standards as well.

I remember few months back when I was working on CoderDojo, postgres store had utilities which other stores do not have.

[2016-01-31 21:34] mcdonnelldean commented on #166
Closing as I found the best is for maintainers to use surge directly, anything else is a maintenance headache, surge is free.

[2016-01-31 21:34] #166 closed

[2016-01-31 21:36] mcdonnelldean commented on #164
Closing as done.

[2016-01-31 21:36] #164 closed

[2016-01-31 21:38] mcdonnelldean commented on #159
@AdrieanKhisbe Is this and #171 The same thing?

[2016-01-31 21:51] AdrieanKhisbe commented on #159
@mcdonnelldean Nopi Nope.

[2016-01-31 21:59] mcdonnelldean commented on #53
Agreed

[2016-01-31 22:20] kamil-mech opened #186 "Document entity deletion"
We should document the proper way of destroying saved data, including nuking entire collection

[2016-01-31 22:52] #53 closed

[2016-01-31 22:54] mcdonnelldean commented on #139
Closed as merged with #181

[2016-01-31 22:54] #139 closed

[2016-01-31 23:02] mcdonnelldean opened #188 "Do not use Milestones / Add Labels"
In an effort to simplify I have dramatically reduced the labels and removed milestones on this repo. Milestones are not needed since tags are now sufficient. Tags are now less granular as it wasn't helping.

@senecajs/contributors Ping for awareness. I'll close this in a couple of days.

[2016-01-31 23:03] kamil-mech commented on #53
Should I self-assign in the future?

[2016-01-31 23:03] mcdonnelldean commented on #106
Closed as merge of #156

[2016-01-31 23:03] #106 closed

[2016-01-31 23:05] mcdonnelldean commented on #12
Closed as not relevant, this happens on an ongoing basis.

[2016-01-31 23:05] #12 closed

[2016-01-31 23:05] #65 closed

[2016-01-31 23:06] mcdonnelldean commented on #53
@kamil-mech Please do :D

[2016-01-31 23:06] kamil-mech commented on #53
Cool, no problem ^^

[2016-01-31 23:56] mcdonnelldean opened #189 "Add Kamil to Contributors"
Go for it!

[2016-02-01 00:11] kamil-mech commented on #189
Cheers :D

[2016-02-01 03:35] #189 closed

[2016-02-01 06:26] AdrieanKhisbe commented on #188
Okey dokey. :)

[2016-02-01 08:44] paolochiodi commented on #123
I realside most of the notes are already public.
This is obviously the starting point https://github.com/senecajs/seneca/blob/master/doc/data-store.md, then there are a number of issues that I opened to clarify some of the behaviour:
- https://github.com/senecajs/seneca-store-test/issues/20
- https://github.com/senecajs/seneca-store-test/issues/17
- https://github.com/senecajs/seneca-store-test/is

[2016-02-01 08:49] AdrieanKhisbe commented on #123
Thanks @paolochiodi, that's really helpfull and time saving.

_courage!_

[2016-02-01 08:50] paolochiodi commented on #123
Fill free to ping me if you need clarification on any issue

[2016-02-01 08:54] AdrieanKhisbe commented on #123
nopro :) (might not come right away ;) )

[2016-02-01 13:52] mcdonnelldean commented on #127
Done!

[2016-02-01 13:52] #127 closed

[2016-02-01 13:53] mcdonnelldean opened #191 "Style the search box to always be available"
@thefoxis We have added a search integration feature, it is styled to show at mobile and big desktop resolution. Could you style this in better?

Also the orange is gotta go in the search results :D

[2016-02-01 14:26] AdrieanKhisbe commented on #183
@mcdonnelldean  Who else do we need to add along pixelastic?

[2016-02-01 14:27] AdrieanKhisbe commented on #191
would be also interesting to tweak the header title color on the side:
white rather than black (seems like I lost it in the rebases)

[2016-02-01 14:32] mcdonnelldean commented on #183
Um,

@thefoxis
@kamil-mech

I think is it.

[2016-02-01 14:54] AdrieanKhisbe commented on #183
will do in the coming hours. ping tomorrow if not done ;)

[2016-02-01 21:52] #183 closed

[2016-02-03 18:50] geek commented on #171
@AdrieanKhisbe thoughts on just using the assignee feature in github and avoiding trello?

[2016-02-03 19:01] mcdonnelldean commented on #171
Thats where I'm at on concorda / vidi. Ive even drastically reduced labels and dropped milestones on senecajs.org. Streamlined the whole lot and it works perfect

[2016-02-04 20:17] pofallon opened #195 "Alphabetize the API documentation"
It would be really helpful to have the functions in http://senecajs.org/api/ alphabetized.

[2016-02-04 21:25] mcdonnelldean commented on #195
Good idea, feel free to submit a PR :D

[2016-02-05 16:46] #178 closed

[2016-02-05 16:46] #191 closed

[2016-02-05 16:47] mcdonnelldean commented on #181
Updated via #194 Final requests incoming

[2016-02-06 17:03] AdrieanKhisbe commented on #171
@geek
I consider that trello and github issues are complementary.
github issues are not good thing for planning. they are not made for that. -> status, due date, prerequesites and co.
One workaround would be status label, but it's not that handy.

Besides, considering we would attach a trello card to an issue, on trello you can assign several person to a card. and have chatty comment on a card. (c

[2016-02-06 21:34] geek commented on #171
@AdrieanKhisbe we can use the milestones in github for planning.  I don't like setting a due date on them though, its more useful as a container of issues you plan to be within a release.

[2016-02-07 00:38] AdrieanKhisbe commented on #171
@geek, exactly! :)
there is no such thing as _deadline_ ;)

[2016-02-07 03:37] thekemkid commented on #171
The only real benefit I can see for a Trello is that as an outsider looking in, or someone looking to pluck some quick work, it would be very easy to see where we need work done. We would need Trello to aggregate all seneca-org issues. This would lead to a lot of bloat, but, make it easier to view the "full picture" bug wise, and get started.

[2016-02-07 10:54] AdrieanKhisbe commented on #171
Indeed @thekemkid :+1:
The point of trello is to have global view and strategy. (prioritazing, allocating efforts), whereas github issues are for details, operational/tactical view.
Trello card are dynamics, and temporary, (status, short term chat), while github issue are there for more structured, longterm discussion. :)

(@mcdonnelldean I have very few label suggestion that I found missing, wher

[2016-02-07 11:13] mcdonnelldean commented on #171
The real problem here is who manages this long term? There is an awful lot of work triaging this stuff on trello

[2016-02-07 11:19] AdrieanKhisbe commented on #171
@mcdonnelldean that's a real question :)
In a way it's link to org communication, contributor synchronisation cf #158.
I have no problem being one of the person taking responsability that things run smoothly, and that the kanban is not stalled/unsynchronized
:smiley:

[2016-02-07 13:15] mcdonnelldean commented on #171
I'm just worried it's a big job. This is the sort of thing that starts well but nobody bothers using and it ends up becoming busy work.

[2016-02-07 13:41] AdrieanKhisbe commented on #171
Legit concern ! :)
I'll say might be big, but if we create the dynamic will be less big, and shared. And few _guardian_ will watch to reignite the spirit when needed :) :wolf: :fire:

“Let's experiment and adapt”. (but after nodeday, where we could talk about this :))

[2016-02-13 18:49] AdrieanKhisbe commented on #195
Addressed with #198 :)

[2016-02-13 18:49] #195 closed

[2016-02-15 01:11] geek opened #199 "Document sub function"
See https://github.com/senecajs/seneca/blob/master/seneca.js#L611-L641
and related question: https://github.com/senecajs/seneca/issues/337

[2016-02-16 11:53] mcdonnelldean commented on #181
Done :D

[2016-02-16 11:53] #181 closed

[2016-02-16 11:53] #188 closed

[2016-02-16 11:53] mcdonnelldean opened #200 "Create style guide"
Hey @thefoxis I don't want all the hard work gone into this site to slowly drift. I think a style guide that we can refer back to means any changes to the style can be validated against it.

Also, What is the best way to do one of these were it is editable? I think it is important that we can evolve it too in the long term.

[2016-02-16 23:45] thefoxis commented on #200
Closing here in favour of nearform/frontend-guide#1.

[2016-02-16 23:45] #200 closed

[2016-02-17 06:10] AdrieanKhisbe commented on #200
The link is now broken. :/
@thefoxis , did you rename the repositery?

[2016-02-17 08:37] thefoxis commented on #200
@AdrieanKhisbe — which link? I didn't rename any repositories.

[2016-02-17 09:05] AdrieanKhisbe commented on #200
https://github.com/nearform/frontend-guide/issues/1 :/
I have a 404.
But maybe it's because the repo is not public.

[2016-02-17 10:21] mcdonnelldean commented on #200
Repo is not yet public, just until there is something in it 😊

[2016-02-17 16:22] AdrieanKhisbe commented on #200
Hehe

  some-magic

[2016-02-22 18:52] AdrieanKhisbe commented on #200
psssssst, just heard about this:
https://twitter.com/zeplin_io
@thefoxis you might be interested into checking ;)

[2016-02-25 13:21] naomifeehanmoran opened #201 "Incorrect sizing on footer icons"
<img width="1268" alt="screen shot 2016-02-25 at 13 19 56" src="https://cloud.githubusercontent.com/assets/8288440/13320686/a3a6ef22-dbc2-11e5-8edf-c8be976e5912.png">

[2016-03-04 04:54] zpbappi opened #203 "Typo (bug) in example"
In [this](http://senecajs.org/tutorials/understanding-prior-actions.html) tutorial, the last example of the section [pattern-based apis makes this easy](http://senecajs.org/tutorials/understanding-prior-actions.html#pattern-based-apis-make-this-easy), it says:
[code]

I think, it should be:
[code]

[2016-03-04 09:33] mcdonnelldean commented on #203
Correct! Good spot :D Do you want to open a little PR to change this?

[2016-03-04 11:40] #203 closed

[2016-03-12 10:47] rr-appadaptive opened #206 "We're using Seneca and it's great!"
[http://www.appadaptive.de](url)

[2016-03-14 17:24] pioneer32 opened #207 "The second argument of Bluebird's Promise.promisify should be an options-object since Bluebird v3.0"
Approach to using Seneca with Promises, which is shown in Seneca's documentation, doesn't work with Bluebird v3.0 and higher as the Promisification API had been changed:

// Bluebird 2.x
Promise.promisify(fn, ctx);
// Bluebird 3.0
Promise.promisify(fn, {context: ctx});

So tutorial needs to be updated regarding this fact.
Thx )

[2016-03-15 14:52] mcdonnelldean commented on #207
@pioneer32 The site auto updates on push to master, do you want to create a fix from the Github and I can accept it?

[2016-03-15 14:54] mcdonnelldean commented on #206
@rr-appadaptive Awesome stuff, if you can get us an svg of your logo we would be more than happy to put it on the site. Could you tell us a little about what you are building? I'm not familiar with German :(

[2016-03-15 14:56] mcdonnelldean commented on #169
@n321203 I'm going to set this to closed as answered, any more q's feel free to reopen :+1:

[2016-03-15 14:56] #169 closed

[2016-03-15 14:57] mcdonnelldean commented on #171
@AdrieanKhisbe I'm going to close this out until after @naomifeehanmoran does her initial assessment of the org. I'd rather not talk about any of this until we get the very basics sorted first. Once that's done we can reopen, but right now it is just noise.

[2016-03-15 14:57] #171 closed

[2016-03-15 14:59] mcdonnelldean commented on #158
@senecajs/contributors have agreed to move comms to gitter, this is where the community seems to be anyway. @AdrianRossouw has started the process of asking how we break down the work with various members of the community since it's best to get feedback from them.

[2016-03-15 14:59] #158 closed

[2016-03-15 15:14] AdrieanKhisbe commented on #158
ACK :disappointed:

[2016-03-15 15:15] AdrieanKhisbe commented on #171
ACK :confused:

[2016-03-16 00:36] rr-appadaptive commented on #206
Hi Dean,

thanks for your prompt answer. To keep long things short, AppAdaptive is developing Apps for the german „Mittelstand“ (Keywords: Internet of things, Factory 4.0). whereas adaptive means that those apps are not only running on any device (if it has a browser) in a responsive way but are changing their functionality depending on user-roles, geo-location of the device, kind of device. The s

[2016-03-16 10:53] Wardormeur opened #208 "Documentation : Add support for Regexp for $list"
When reading the documentation, there is no hint that you can use regexp to make a select "LIKE" for list$ action.
http://senecajs.org/tutorials/understanding-data-entities.html#the-data-entity-api
There is a reference to "more on this later, including the get-out-of-jail options" which I haven't been able to found out.
Great work anyway, keep it up ! :)

[2016-03-16 11:50] pioneer32 commented on #207
Sorry, I didn't notice. The note regarding Bluebird v3.0 already exists below the code block.

[2016-03-16 11:50] #207 closed

[2016-03-16 16:37] mcdonnelldean commented on #208
@Wardormeur Agreed! This needs to be updated.

[2016-03-21 12:27] mcdonnelldean commented on #206
@rr-appadaptive Hey, I just got back to this. The link doesn't attach because responding to these mails instead posts to Github. Could you send the image to `dean.mcdonnell@nearform.com` and I can personally put it up on the site for you :D

Awesome stuff! Sounds super interesting!

[2016-03-21 15:29] mcdonnelldean commented on #206
@rr-appadaptive Logo now added :D http://senecajs.org/

If you have a link you would like me to hot link it to, let me know :tada:

[2016-03-21 15:29] #206 closed

[2016-03-22 11:14] mcdonnelldean opened #210 "Document default options"
We have a lot of new options, example being the strict finding of action handlers. These need to be documented.

[2016-03-23 09:54] nkpathrut opened #211 "Unable to use senaca.make() method"
I'm getting error as seneca.make() undefined not a function. I installed latest seneca package as well as verified the directory structure.

Still I'm facing the issue. Please help, I'm in the middle of water. As soon as possible I've implement micro-services example

[2016-03-23 10:36] mcdonnelldean commented on #211
@nkpathrut hey, this is due to a change in `2.0.0`. We removed a the entity module as a default. It's super easy to fix, you just need to manually add the module, like so,

[code]

[code]

From there make will work.

[2016-03-28 06:25] nkpathrut commented on #211
var var1 = require('seneca')()

var product = var1.make('product')
product.name = 'Apple'
product.price = 1.99

// sends role:entity,cmd:save,name:product messsage
product.save$(console.log)

Would you provide the changes using entity here?

[2016-03-30 09:04] timoweiss opened #212 "we're using seneca"
hey @mcdonnelldean,
a few days ago you ask for a logo for senecajs.org :)

We are a bunch of students of the university of applied science constance.
We rewrote our hapi plugin architecture using seneca to split up our business-logic into services - we really love it! :)

This is our project page: https://locator-app.com/

I've requested a logo from the designer team and I could send it to you. Or

[2016-03-30 09:57] mcdonnelldean commented on #212
@timoweiss This is really epic!!

If you do decide to write your thesis on it you should at least get on a call with @rjrodger and pick his brain. A lot of thought went into Seneca from a user perspective and it contains a lot of things that will guard you against the reality of big systems. The sort of things that other projects don't hit until something big gets built with them :D

Yeah doc supp

[2016-03-30 15:25] timoweiss commented on #212
@mcdonnelldean thanks man, code-structure and pattern might not be that optimal. This was our first attempt working with seneca and microservices in general :dancer:
Yeah I really like rogers talks and publications.

I will set up a PR in a sec :D

[2016-03-30 15:30] mcdonnelldean commented on #212
It looks awesome! Just working through it myself!

[2016-03-30 19:07] AdrieanKhisbe commented on #159
Switching off a patient's life support 🔌

[2016-03-30 19:07] #159 closed

[2016-03-30 21:11] AdrieanKhisbe commented on #159
_closed board :arrow_forward: closed issue_

[2016-03-31 09:52] naomifeehanmoran commented on #201
Fixed in https://github.com/senecajs/senecajs.org/pull/214

[2016-03-31 09:52] #201 closed

[2016-03-31 10:47] mcdonnelldean opened #215 "Make Naomi Lead Maintainer"
We're in safe hands \a/  @naomifeehanmoran :D

[2016-03-31 10:53] #215 closed

[2016-03-31 14:28] mcdonnelldean commented on #211
The code above would be

[code]

assuming you also ran

[code]

[2016-04-01 09:31] nkpathrut commented on #211
Thanksmcdonnelldean

[2016-04-01 09:33] nkpathrut commented on #211
Thank you, mcdonnelldean!!! It works fine now.

Would you like mention the documentation where I can find Updated Seneca guide of Micro-service Architecture Implementation?

[2016-04-01 09:49] mcdonnelldean commented on #211
Great! Docs are something we are working on right now. Your best bet is probably to take a look around a working system. See, https://github.com/nodezoo/nodezoo-system

[2016-04-01 09:50] mcdonnelldean commented on #211
I'm going to go ahead and close but feel free to make new issues if you get stuck.

[2016-04-05 07:13] heriipurnama opened #217 "not running"
not work

[2016-04-05 17:23] geek commented on #217
senecajs.org loads

[2016-04-05 17:23] #217 closed

[2016-04-06 11:09] siddharth-algoworks opened #218 "FAQ:"
Is seneca framework free ?
Are there any charges ?

[2016-04-06 12:41] mcdonnelldean commented on #218
There are no charges. The source (via github) and the packages (via npm) are completely free. Any module within the senecajs organisation are licensed MIT.

[2016-04-06 12:41] #218 closed

[2016-04-06 12:42] mcdonnelldean commented on #212
Going to close this one down 💃

[2016-04-06 12:42] #212 closed

[2016-04-06 12:42] #211 closed

[2016-04-11 01:43] temsa opened #220 "Fix documentation for Seneca 2.x"
Currently,

If you try to do the `get started` tutorial from a simple `npm i seneca` (or `npm i seneca@latest`) you will run into troubles, because it installs `seneca-2.0` and there has been some breaks in the API, so everything does just not work out of the box. It feels like a pretty terrible experience for newcomers.

Notably, `seneca.make` does not exists anymore by simply requiring `seneca`,

[2016-04-11 08:11] mcdonnelldean commented on #220
@temsa Good spot here. This is something that we'll get somebody to fix up before the end of the week.

[2016-04-11 08:35] temsa commented on #220
👍 :)

[2016-04-11 20:13] geek opened #221 "Document preload function"

[2016-04-12 11:37] naomifeehanmoran opened #222 "document caching"

[2016-04-12 14:25] mcdonnelldean opened #223 "Calling seneca via tcp"
See, https://github.com/senecajs/seneca/issues/394

[2016-04-15 16:28] naomifeehanmoran commented on #220
hey @temsa this issue has been addressed in https://github.com/senecajs/senecajs.org/pull/225

[2016-04-16 09:14] temsa commented on #220
Thanks @naomifeehanmoran, your patch looks great, yet I still see the old getting-started on http://senecajs.org/get-started/, is it normal ?

[2016-04-16 12:49] naomifeehanmoran commented on #220
Hey @temsa I merged the PR so the http://senecajs.org/get-started/ is now updated.

[2016-04-18 09:11] mcdonnelldean opened #226 "Create versioned documents"
We don't need to be too clever with this, for now use folders. We are most likely only going to version on major versions so v1 and v2 is all you need for now. You will need to index

/tutorials
/getting-started
/api

Each one should have a v1 and v2 docs in it's root. That way each time we release a new version we copy everything into a vx folder and then start editing the root docs as the new ve

[2016-04-19 09:39] kevin-madhu opened #227 "Can Seneca be used with microservices in other platforms? If yes, how?"
Logically, seneca should be usable with other platforms. But I'm not sure because there maybe some implementation detail that'll prevent using it for other platforms. If it's possible to use with other platforms, please make an example project as a part of documentation which is in some other platform.

[2016-04-19 13:48] mcdonnelldean commented on #227
@kevin-madhu Seneca supports a number of transports. These carry messages to and from seneca systems, you can use this as an extension point. You can see how we use `CURL` to communicate with a seneca microservice in [nodezoo-github][] via http. In terms of greater implementation you would need to implement [patrun's][] rule set in order to build anything more substantial.

[nodezoo-github]: https

[2016-04-19 15:01] naomifeehanmoran commented on #156
this is being addressed here https://github.com/senecajs/senecajs.org/issues/156, so closing this.

[2016-04-19 15:01] #156 closed

[2016-04-20 11:28] kevin-madhu commented on #227
Okay Thanks :)

[2016-04-20 11:28] #227 closed

[2016-04-20 11:29] kevin-madhu commented on #227
Is it a bad idea to make support for other platforms a part of future plans of the seneca project? Just asking.

[2016-04-20 11:36] mcdonnelldean commented on #227
Not at all. We are actually doing some work on the low level api in transport to make it more transparent for non node callers plus some other improvements, see https://github.com/senecajs/seneca/issues/399

[2016-04-28 16:45] rafinskipg commented on #10
It would be nice! I'm not certain about how to respond to different verbs in the same endpoint and get the HTTP verb that is being executed.

[2016-05-06 13:23] nherment opened #229 "Search does not seem to be working"
the search on senecajs.org does not allow much flexibility.
For example I'm looking for timeout management in seneca. If I type `timeout` in the search box. Nothing happens. Typing enter does not work.

[2016-05-06 14:01] naomifeehanmoran commented on #229
thanks for raising this @nherment. We will get somebody assigned to this early next week.

[2016-05-13 20:23] jmatsushita commented on #220
Hi there, I ran into the same problem when following the Data Entity tutorial which hasn't yet been updated : http://senecajs.org/tutorials/understanding-data-entities.html

[2016-05-21 22:20] zardoz opened #230 "We use Seneca!"
Such a great product, has enabled us to create resilient, available, simple services with Seneca microservices.

[2016-05-23 10:30] mcdonnelldean commented on #230
@zardoz Awesome stuff! I used to work in the food processing industry and really wish I had Seneca at the time to manage the business logic for specific customers. Awesome stuff though!

Do you have a High Res version of your logo? If you send it on to dean[dot]mcdonnell[at]nearform[dot]com I can get it up on to the site for you.

[2016-05-26 15:20] paulnebel opened #231 "I've created a plugin for Neo4j"
Hi.  I'm the Co-founder and Technical Director of a startup called [RedJamJar](http://www.redjamjar.net).  We provide products and services related to knowledge sharing and management within organisations.  I've adopted Seneca as the framework of choice to support the microservices architecture I'm developing.  One of the significant aspects of the products we're creating is that they're based on

[2016-05-27 22:21] mcdonnelldean commented on #231
This is epic. How would you feel about using the original name if I can get it made available. I'm prepping a release right now so snowed under but I will pick this up soon. Your module looks epic!

[2016-05-28 12:48] paulnebel commented on #231
Hi Dean.  That would be absolutely fantastic!  I'm glad you like it.  As I
mentioned I'll be making a version for OrientDB as well.  I'm also
preparing a blog post to promote both the plugin and Seneca in general.

Thanks for the feedback.

Regards

Paul

On Fri, May 27, 2016 at 11:21 PM, Dean McDonnell <notifications@github.com>
wrote:

--
Paul

--
Paul Nebel
Co-founder and Technology Director

*

[2016-05-28 13:02] mcdonnelldean commented on #231
Sounds great!

I'll have someone look into improving the instructions for contribution to the site too. Looking over it the instructions are on the vague side and could do with being more explicit

Kindest Regards,

Dean

[2016-05-29 14:28] mcdonnelldean commented on #231
@piccoloaiutante How would you feel about @paulnebel taking ownership of https://github.com/piccoloaiutante/seneca-neo4j-store? See above.

[2016-05-29 14:30] mcdonnelldean commented on #229
@nherment @naomifeehanmoran I don't think this is a bug so much as a incomplete set of settings. I'll get these updated in the next pass. Thanks for pointing out.

[2016-05-30 10:18] piccoloaiutante commented on #231
@mcdonnelldean i think it's a good idea. Let me know when to proceed with it.

[2016-05-30 10:42] mcdonnelldean commented on #231
@piccoloaiutante Awesome stuff! I'd say go ahead and add me as admin. I will then work with @paulnebel to complete the transfer. Note you will need to give me npm rights also

[2016-05-30 10:46] piccoloaiutante commented on #231
@mcdonnelldean i've added you in both account.

[2016-05-30 11:23] mcdonnelldean commented on #231
Awesome stuff. @paulnebel My suggestion is to move this to your account then PR in your work, finally release a major version so as to not break previous versions.

This will allow you to use both the Github and NPM names as requested.

[2016-05-30 11:52] paulnebel commented on #231
Hi.  Thanks very much for all your help so far.  As I understand it, you
want me to do the following:

   - Rename the redjamjar/seneca-neo4j-store repo as
   redjamjar/seneca-neo4j2-store (so as to leave redjamjar/seneca-neo4j-store
   available for the following operations)
   - Move the existing piccoloaiutante/seneca-neo4j-store code into the new
   redjamjar/seneca-neo4j-store
   - Submit and

[2016-05-30 13:55] mcdonnelldean commented on #231
@paulnebel That is exactly it! There is not much point in us holding the name if you have a well maintained module that does it better 💃

[2016-05-30 16:12] paulnebel commented on #231
Most excellent.  I'll get onto it now and let you know when I've done it.

Regards

Paul

On Mon, May 30, 2016 at 2:55 PM, Dean McDonnell <notifications@github.com>
wrote:

--
Paul

--
Paul Nebel
Co-founder and Technology Director

*w*: www.redjamjar.net
*e*: paul.nebel@redjamjar.net
*m*: 07950 010 394
@redjamjar

[2016-05-30 17:30] paulnebel commented on #231
OK, I've updated the repo so that it now contains Michele's original code,
with my new code on top and a complete revision history for both.  The only
thing I can't do is to publish the NPM module as I don't appear to have
permission.  Could I be given permission to this package on NPM so that I
can push?

Thanks both,

Paul

On Mon, May 30, 2016 at 5:12 PM, Paul Nebel <paul.nebel@redjamjar.net>
w

[2016-05-30 17:40] mcdonnelldean commented on #231
Oops, let me get this sorted in the morning for you!

Kindest Regards,

Dean

[2016-06-01 17:08] paulnebel commented on #231
Hi Dean

Could you please add me to the seneca-neo4j-store npm account so that I can
publish the plugin?

Thanks very much.

Paul

On Mon, May 30, 2016 at 6:40 PM, Dean McDonnell <notifications@github.com>
wrote:

--
Paul

--
Paul Nebel
Co-founder and Technology Director

*w*: www.redjamjar.net
*e*: paul.nebel@redjamjar.net
*m*: 07950 010 394
@redjamjar

[2016-06-02 12:15] mcdonnelldean commented on #231
@paulnebel Appologies for the delay, what is your npm username?

[2016-06-02 14:16] paulnebel commented on #231
Hi.

Thanks for getting back to me.  My NPM username is *DiscDoggy*.

Regards

Paul

On Thu, Jun 2, 2016 at 1:15 PM, Dean McDonnell <notifications@github.com>
wrote:

--
Paul

--
Paul Nebel
Co-founder and Technology Director

*w*: www.redjamjar.net
*e*: paul.nebel@redjamjar.net
*m*: 07950 010 394
@redjamjar

[2016-06-06 16:42] paulnebel commented on #231
Hi

Sorry to keep bugging you about this but I can't publish this npm module
until I have access to the seneca-neo4j-store npm account.  This is
starting to cause me issues as I have fixed several bugs in this code in
the last week and I don't really want to publish to my npm repo if it's
about to become deprecated.

I appreciate your help so far.

Regards

Paul

On Thu, Jun 2, 2016 at 3:16 PM, Pa

[2016-06-06 23:20] mcdonnelldean commented on #231
@paulnebel Apologies, should be corrected now.

[2016-06-07 07:30] paulnebel commented on #231
Thank you very much for your help.  The plugin is now published to NPM.
I'm currently working on a tutorial on how to use the plugin with the User
plugin so as to take advantage of graphs.  I'll let you know as soon as
it's ready to be published.

Regards

Paul

On Tue, Jun 7, 2016 at 12:20 AM, Dean McDonnell <notifications@github.com>
wrote:

--
Paul

--
Paul Nebel
Co-founder and Technology Direc

[2016-06-12 21:25] akeelnazir commented on #220
Hi there,

A product with good promises, but poor/out-of-date documentation.

Please fix.

Many thanks

[2016-06-17 18:12] mindreframer commented on #220
same here. get-started guide has some subtle differences with the actual output....

[code]

also the log output differs
[code]

[2016-07-08 06:37] jamaikarima opened #232 "why Seneca ??"
why use Seneca framework to create a Microservice rather than directly using nodejs?

[2016-07-08 08:15] mcdonnelldean commented on #231
@paulnebel Awesome stuff! I'm going to go ahead an close this so. Please feel free to PR senecajs.org and add it to the plugin list. 👍

[2016-07-08 08:15] #231 closed

[2016-07-12 09:11] chasevida opened #233 "Seneca - Use, when is it Ready?"
Hey there, please excuse my ignorance if I've just blatantly missed this in the docs. If a plugin is performing an asynchronous tasks (say connecting to a db), how does `.ready` know it has been loaded?

From what I gather so far, there is no callback or promise for `.use` except for that used with naming - am I missing something?

I'm trying to understand how it knows a db or transport is availab

[2016-07-12 09:57] mcdonnelldean commented on #233
plugins have an `init:plugin_name` action they can handle. When this completes (or if it is missing) Ready will fire. When ready fires you should be in a position where plugins have loaded if they have set themselves up correctly.

[2016-07-20 20:15] alexeveritt opened #234 "FAQ: Initialising seneca with an existing api managed by swagger"
I'm trying to better understand where to initialize senecajs in an express app that uses existing api handlers managed via swagger.

If i initialise seneca from each api module loaded by swagger then the mem-store does not work and entities are not available between different modules/seneca instances
e.g. below is a simple example of a controller that swagger may load

`
var seneca = require('sene

[2016-07-20 22:14] alexeveritt commented on #234
Since leaving this question i've moved the initialisation into a module which returns a seneca instance and then added a middleware function to express to add a seneca ref to the request.
e.g.
`app.use(function(req, res, next) {
    req.seneca = mySenecaInstance;
    next();
});`

This seems to work however it would be nice to see some information around when and where to initialise seneca

[2016-07-25 13:45] k2s opened #235 "document usage of paramspec agrument"
the format `act(pattern [, paramspec], action)` is not mentioned in getting-start and also missing on page http://senecajs.org/api/#act-input-callback-

it is used for example in https://github.com/nodezoo/nodezoo-npm/blob/master/lib/npm.js#L107

the same problem is with documentation of `add(pattern [, paramspec], action)`

[2016-07-27 10:52] mcdonnelldean opened #236 "seneca.js fatal 404"
Via: https://github.com/senecajs/seneca/issues/456

While receiving fatal error seneca print this message:
ALL ERRORS FATAL: action called with argument fatal$:true (probably a plugin init error, or using a plugin seneca instance, see senecajs.org/fatal.html)
at ....

but senecajs.org/fatal.html doesn't exists on the server (404)

[2016-07-27 13:21] mcdonnelldean commented on #235
@k2s Site is regenerating. The docs added should better explain it. paramspec was a terrible name. Doc's aren't completely finished but they are better.

[2016-07-27 13:21] #235 closed

[2016-07-27 13:22] mcdonnelldean commented on #232
This is the purpose of the website and guides. Please see senecajs.org.

[2016-07-27 13:22] #232 closed

[2016-07-27 13:29] mcdonnelldean commented on #210
Done via #237

[2016-07-27 13:29] #210 closed

[2016-07-27 13:30] mcdonnelldean commented on #199
Done via #237

[2016-07-27 13:30] #199 closed

[2016-08-08 16:25] mcdonnelldean commented on #153
A SECURITY.md and an nsp check are to be added to all golden circle repos. This will be done for the 3.x launch later this month.

[2016-08-08 16:25] #153 closed

[2016-08-08 16:34] mcdonnelldean commented on #142
We are planning to bring this in for 3.0 but with different badges that align better to plugin based modules over framework based modules.

[2016-08-08 16:34] #142 closed

[2016-08-08 16:36] mcdonnelldean commented on #130
All docs are going to be moved out of their respective repos soon and added to the website where it makes sense to do so. Other information will be disseminated into respective readmes.

[2016-08-08 16:36] #130 closed

[2016-08-08 16:37] mcdonnelldean commented on #144
The style as it is has pretty much become standard. Closing to do relevance.

[2016-08-08 16:37] #144 closed

[2016-08-08 16:37] mcdonnelldean commented on #9
Nodezoo now provides an example of this https://github.com/nodezoo/nodezoo-system

[2016-08-08 16:37] #9 closed

[2016-08-09 23:41] rglenn-accenture opened #253 "get-started 404"
Looks like the getting started [page](http://senecajs.org/get-started/) is down..

[2016-08-10 09:08] mcdonnelldean commented on #253
Ooops! My fault, I'll fix this shortly. The page is there, the links are wrong

http://senecajs.org/docs/tutorials/getting-started.html

[2016-08-11 16:02] evilpacket commented on #153
I will do a freak'n dance if you add anything related to communicating how security issues are handled :) /jig

[2016-08-12 12:23] k2s opened #254 "add link to get started guide to docs page"
the page http://senecajs.org/get-started/ is not listed in http://senecajs.org/docs/

[2016-08-12 13:56] mcdonnelldean commented on #254
This is a bug. We are flattening down the website a bit to get nicer urls. Should be fixed before tomorrow.

[2016-08-19 12:25] matiger commented on #254
Is this fixed? Cant see the get-started page...

[2016-08-19 12:27] k2s commented on #254
it is not fixed, use http://senecajs.org/docs/tutorials/getting-started.html (from #253)

[2016-08-19 12:29] matiger commented on #254
thanks :+1:

[2016-08-19 13:00] mcdonnelldean commented on #254
This has now been corrected. The live link is http://senecajs.org/getting-started/ and the button on the landing page is now corrected too. Closed via #255

[2016-08-19 13:00] #254 closed

[2016-08-19 13:00] mcdonnelldean commented on #253
This has now been corrected. The live link is http://senecajs.org/getting-started/ and the button on the landing page is now corrected too. Closed via #255

[2016-08-19 13:00] #253 closed

[2016-08-19 14:26] k2s commented on #254
1. I would appreciate if you would add the `getting-started` link to be on top of http://senecajs.org/docs/

2. also the link `Documentation` on  bottom of http://senecajs.org/docs/ is pointing to http://senecajs.org/tutorials/ which is 404. Maybe it should point to http://senecajs.org/docs/ ?

thx

[2016-08-19 14:38] mcdonnelldean commented on #254
Good points I'll do these this afternoon

Kindest Regards,

Dean

On 19 Aug 2016, at 15:26, k2s <notifications@github.com<mailto:notifications@github.com>> wrote:

  1.  I would appreciate if you would add the getting-started link to be on top of http://senecajs.org/docs/

  2.  also the link Documentation on bottom of http://senecajs.org/docs/ is pointing to http://senecajs.org/tutorials/ which i

[2016-08-29 12:53] nsiitk opened #258 "cluster is not working"
cluster as default plugin is true but I don't see process fork for this.
 internals.cluster function never gets called.

var seneca = require('seneca')()
 seneca.ready(function () {
		seneca.use(rules).listen()
});

[2016-08-29 13:02] mcdonnelldean commented on #258
@nsiitk This was a mistake in the previous version. Cluster is not considered a default plugin and will need to be loaded using `npm install seneca-cluster` and `seneca.use('cluster', opts)`.

[2016-09-06 08:55] paolochiodi opened #261 "Links internal to the API page don't work"
Go to http://senecajs.org/api/
Scroll to "Table of Content"
Click on any link in the list
Nothing happens, the link is not followed. I guess there's a wrong anchor in it

[2016-09-07 14:31] mihaidma commented on #261
solved

[2016-09-07 14:31] #261 closed

[2016-09-13 12:28] Tapppi commented on #236
This is still a problem..

[2016-09-14 19:54] charleskoehl opened #265 "404 for main documentation page"
When you click the main "Documentation" link it takes you to http://senecajs.org/tutorials/, which reports a 404.

[2016-09-14 23:08] chessmonster opened #266 "app.use( seneca.export('web') ) throws an error"
I'm a noob at seneca and I'm just trying to run sample codes from Developing Microservices with Node js, and it says:

[code]

but Im getting an error that says:

[code]

Also I tried to run another sample code copied from the web, I'm sorry I just can find the link. But I just copied, pasted and tried to run and I got the same error. I'm thinking this is more of a setup issue?

I'm still trying t

[2016-09-15 02:31] chessmonster commented on #266
the sample code here also does not work.

https://github.com/senecajs-attic/getting-started/blob/master/app.js

[2016-09-15 09:15] mihaidma commented on #265
pushed a fix: https://github.com/senecajs/senecajs.org/pull/267

thank you

[2016-09-15 09:15] #265 closed

[2016-09-16 03:02] sagarpatke opened #268 ""Converting circular structure to JSON" in test cases while using should."
Test Case:
[code]

Error:
[code]

It appears as if seneca tries to log the error object from 'should' which fails due to a circular structure. This is a hinderance, as this does not identify which assertion is failing.

[2016-09-20 09:41] mihaidma opened #269 "Incorrect Entity API link"
On http://senecajs.org/plugins/#storage-plugins  the `Entity API` doesn't point to the correct page.

[2016-09-27 17:44] hangtwenty opened #270 "Broken link in Getting Started docs, 'common microservice pattern' re: broadcast"
The link to the http://oredev.org/ talk is broken

[2016-09-27 19:12] #270 closed

[2016-10-14 18:09] calibermind opened #273 "Hey there"
Hey Senecajs team,

FYI -

We at Calibermind found Senecajs an very scalable and productive platform for our microservices backend.

Thank you for the great platform and keep up the good work.

Oren Zamir
CTO CaliberMind

[2016-10-19 11:38] Wardormeur opened #275 "Seneca-cms link on npm is redirecting to 404"
Seneca-cms on http://senecajs.org/plugins/ is redirecting to npm, which works, but the github link is dead

[2016-10-19 11:53] nfantone commented on #275
@Wardormeur The `npm` metadata is bad on that one, yeah. And I really don't know where that repo has gone to. The only one I was able to found is @rjrodger's https://github.com/rjrodger/seneca-cms.

Is that the one?

[2016-10-19 12:53] Wardormeur commented on #275
No idea, i was digging for ideas in seneca plugins :)

[2016-10-27 11:06] bra1n commented on #236
Still broken.

[2016-10-27 11:33] nfantone commented on #236
@mcdonnelldean Do you have an idea as to where that link should point to? I could open a PR with a fix.

[2016-10-27 11:43] mcdonnelldean commented on #236
I've had a look and don't see this page being there before. I'd say it's best to remove the link for now or to write a small page on it and add it in.

[2016-10-27 11:46] bra1n commented on #236
It would be great if there *was* something about Fatal Errors there, because the general documentation seems to be rather lacking when it comes to this topic. :-)

[2016-10-27 11:49] mcdonnelldean commented on #236
@bra1n I don't disagree. Right now most folk are at peak bandwidth. If anyone wants to take a stab at it, please go ahead.

[2016-10-27 11:51] nfantone commented on #236
@bra1n Yeah, I agree. But since I don't really know what the original intention was, my vote is on removing the URL from the logs. We'll add it back when we have a working page for that.

PR will be up in a minute.

[2016-10-27 11:54] nfantone commented on #236
@mcdonnelldean Removed the URL for now. See https://github.com/senecajs/seneca/pull/578

[2016-10-31 09:29] jnhghy opened #276 "Link to Roadmap - broken page - 404 on senecajs.org"
If you visit the [contribute page](http://senecajs.org/contribute/) on senecajs.org and scroll all way down you'll see a list of items last one being "Roadmap" that links takes me to a [broken page](http://senecajs.org/roadmap.html)

[2016-10-31 09:36] jnhghy commented on #276
Just checked and the issue comes from the extension ".html"
http://senecajs.org/roadmap/ - works
http://senecajs.org/roadmap.html - doesn't work

The contributors link redirects to the 2nd, not working one.

[2016-10-31 13:38] nfantone commented on #276
#277 fixes this. Thanks!

[2016-11-01 22:45] jnhghy opened #278 "ALL ERRORS FATAL messages directs the developer to a broken link"
Trying to run a senecajs project resulted in a FATAL ERROR message that directs me to http://senecajs.org/fatal.html for info but this page shows a 404 error, guess there should be a redirect there.

The full error message:
`ALL ERRORS FATAL: action called with argument fatal$:true (probably a plugin init error, or using a plugin seneca instance, see senecajs.org/fatal.html)`

[2016-11-01 23:03] nfantone commented on #278
That URL was already removed and should not be around in the next release. Please see https://github.com/senecajs/senecajs.org/issues/236

[2016-11-01 23:03] #278 closed

[2016-11-02 01:10] jnhghy commented on #278
@nfantone : sorry, didn't saw the other issue page, thanks for pointing it out.

[2016-11-02 01:18] nfantone commented on #278
No problem! 🐐

[2016-11-03 08:56] jofan opened #279 "seneca.has(pattern) always return true"
With the following code, no matter what pattern I'm using the seneca.has API will always return 'true':

[code]

Is it a bug or what is the intention of the .has API?

[2016-11-03 09:00] jofan commented on #74
I still can't find any documentation regarding $default. Does it exist?

[2016-11-08 06:02] tresellefreshers2016 commented on #266
can anyone please tell me the solution for above error

[2016-11-08 06:04] tresellefreshers2016 commented on #266
var seneca = require('seneca')()

seneca.add('role:api,cmd:bazinga',function(args,done){
done(null,{bar:"Bazinga!"});
});
seneca.act('role:web',{use:{
prefix: '/my-api',
pin: {role:'api',cmd:'*'},
map:{
bazinga: {GET: true}
}
}})
var express = require('express')
var app = express()
app.use( seneca.export('Web'))
app.listen(3000)

My error is:
D:\NodeJS\Seneca Frameowrk\seneca_with_express>node sen

[2016-11-08 12:59] nfantone commented on #266
@chessmonster and @tresellefreshers2016
Moved to https://github.com/senecajs/seneca-web/issues/115

[2016-11-08 12:59] #266 closed

[2016-11-14 00:08] tswaters opened #280 "seneca-web section of getting started it out of date"
It appears the getting started guide was never updated with the changes from when seneca-web went to 1.0.  There's a few API changes that should be reflected here.

I've got a PR with the required changes to the supporting JS files here: https://github.com/senecajs-attic/getting-started/pull/12 getting started guide needs to be updated here as well.

[2016-11-15 13:11] LogOg opened #282 "Seneca Getting Started Example issue - app.use() requires middleware functions"
When running app.js from: http://senecajs.org/getting-started/
i.e. :
var seneca = require('seneca')()
	.use('api')
	.client({type:'tcp',pin:'role:math'})
var app = require('express')()
	.use(require('body-parser').json())
	.use(seneca.export('web'))
	.listen(3000)

As follows: node app.js --seneca.log=plugin:web,plugin:api
Get the following for line .use(seneca.export('web')):

{"kind":"notice","

[2016-11-18 16:25] jsmadja opened #283 "We are using Seneca in production"
Hello,

We are KinTribe http://www.kintribe.com

We're using Seneca since January and we love it.

We have a micro-service architecture (about 9 microservices : api (seneca-web), aws sqs, etc ...).

All is monitored by Keymetrics, deployed to AWS and our modules are available in our private sinopia repository.

It could be great if we could appear in your homepage (Who’s using Seneca).

Thank you

[2016-11-22 12:05] #280 closed

[2016-11-29 06:28] pranaysaha opened #284 "FAQ:"
How to do image and file upload in senecajs?

[2016-12-15 12:49] Shobhit28 commented on #282
I am facing the same issue . Any fix @LogOg ?

[2016-12-16 06:39] Shobhit28 opened #285 "All seneca examples to expose REST api with express or connect are not working"
Please provide a working example of using seneca with express

[2017-01-04 22:45] blueshirts opened #286 "FAQ:"
Since most seneca plugins seem to be named in the pattern 'seneca-some-plugin' how can you name the plugin in such a way that it read the plugin specific settings?

It is not possible to name the plugin using a function name.  Without this function name it seems like the plugin will not read the settings from the seneca.options.js file (even if you return 'seneca-some-plugin' from the function.

[2017-01-05 22:27] nfantone commented on #286
I've seen plugins return an object just like the one you describe and a simple string with the value for `name`.

[code]

I don't think there are any "official docs" for any of that, though.

[2017-01-09 17:13] killerspaz commented on #286
Check this page out: http://senecajs.org/docs/tutorials/how-to-write-a-plugin.html

Talks about that some, but the gist is you can return the plugin name, or an object that defines some special properties, including `name`.

[2017-01-11 02:35] ymohammad commented on #286
Hi,

I would like to know if seneca provides a way to interface a method which gets called after action method completes based on the pattern. Suppose, I have following patterns in my service.

'role:calculation, cmd:sum'
'role:calculation, cmd:product'
'role:calculation, cmd:division'

Is there any way I can register a call back function for the pattern ''role:calculation' which gets called once

[2017-01-11 21:20] killerspaz commented on #286
You can register both patterns:

[code]

When `cmd` is supplied it will contextualize (check out https://github.com/rjrodger/patrun) to the former ones, and without should match to the last pattern demonstrated.

In essence, you should be able to do:

[code]

I haven't tried this in practice, but I do believe it should work. Alternatively, have a `cmd` dedicated to this logging approach.

[2017-01-12 00:45] blueshirts commented on #286
The documentation does seem to indicate that you might drop the majority of your hyphenated name in favor of a short prefix.  I have been doing this and it seems to work.  I suppose if you have conflicts you can use the tag capability.

Also, I did find a very small fine print regarding returning an object out of the plugin.  I didn't see the additional referenced the comment speaks of though ther

[2017-01-12 00:45] #286 closed

[2017-01-12 01:39] ymohammad commented on #286
Thanks @killerspaz for the answer. I think, I have not explained my question correctly. I would like to know if there is any Life cycle kind of method provided by Seneca which will gets called once the action method execution completed. It is like if I attached it to the action methods based through pattern.

If I use the 'role:calculation' then this API method gets attached to all the patterns ha

[2017-01-12 05:55] nfantone commented on #286
@blueshirts I remembered that you can also define a `tag` property on the object returned from a plugin. It'll be used in log messages.

[code]

Seneca itself uses it to show its version number.

[code]

[2017-01-27 12:39] ojengwa opened #288 "How do I include our team on the Seneca users list that shows in the site?"

[2017-01-30 23:48] knasher opened #289 "Error on getting started sample code"
The getting started sample code (http://senecajs.org/getting-started/) that involves Data Storage generates an error when adding a product.

[code]

After a quick search around the internet it appears the latest version of Seneca expects the seneca-basic module to be used:

[code]

[2017-02-20 08:48] IRT-fbachmann opened #290 "When requiring seneca in different directories the plugin paths are always resolved from the first require's directory"
I use seneca-web to implement an API for my services. However, I also use seneca in some other places to route data to other services (tbh this is not going to be permanent, but currently I need it), hence I require seneca in different directories.

Let's say this is my structure:

[code]

First, I require seneca in `index.js` to route to different services in `/middlewares`, then I try to create

[2017-02-20 10:21] IRT-fbachmann opened #291 "Option 'timeout' sample code from API doc leads to fatal error"
The following code from the API doc leads to a fatal error, which stops the program. Also, I haven't found any way to catch that error.

[code]

[2017-02-28 23:32] kourosz opened #292 "DeprecationWarning: 'root' is deprecated, use 'global'"
Can we have a fix for this anytime soon?

[2017-03-03 22:07] oredi opened #293 "Example for promisify Prior actions"
I was working on making the Prior action a Promise and being a new JS problem the context of this actually tripped me up. It took me some time to realized that 'this' for the prior is actually within the context of the seneca.add function. It might be helpful to have a example for Prior in the documentation for Promises and also describe the context of that.

[2017-03-05 09:04] grempe opened #294 "Typo in getting started guide 'indentifer'"
/indentifer/identifier/

http://senecajs.org/getting-started/

[2017-03-15 22:36] josephh opened #295 "FAQ: Shop-stats listener in getting started examples - why no output?"
Hi I'm trying to run the shop tests and shop stats programs together.  I see the expected output when the services start, e.g.
[code]
and
[code]

But the shop-stats program doesn't show the expected console output, featuring a count of apples.

Is this code working?  Is my node version at fault?
[code]

[2017-03-27 04:07] campanagerald opened #296 "FAQ:"
how to fix this deprecation warning?

(node:4252) DeprecationWarning: 'root' is deprecated, use 'global'

[2017-04-14 01:38] spikers commented on #294
Fixed this and some other small things in https://github.com/senecajs/senecajs.org/pull/298

[2017-04-21 16:02] MatiasOS commented on #292
See [senecajs/seneca#566](https://github.com/senecajs/seneca/issues/566)

[2017-04-24 11:12] jmatsushita opened #299 "API Docs missing callback signatures"
Hi there,

For the parameters documentation for instance for `act`

You'd expect to be given the callback signature (or if it follows the node callback convention, to mention it).

Cheer,

Jun

[2017-04-24 13:24] MatiasOS commented on #299
Yes, the callback is like you say
[code]

[2017-04-27 23:34] abbas-babiker opened #300 "Incorrect link in getting started"
product.js file link is incorrect, in sentence:
"Run the file product.js to test this. You’ll see the output:"

it redirects to: http://senecajs.org/getting-started/

[2017-05-14 23:29] wezm opened #301 "CSS is incorrectly specifying 'monospaced'"
The CSS rule for monospaced text on the site is:

[code]

On my Linux machine I don't have Menlo, Monace or Consolas and the last family name should be the generic font family name [monospace](http://mdn.beonex.com/en/CSS/font-family.html#Values). As a result all the text is falling back on the default serif browser font:

![screenshot from 2017-05-15 09-19-23](https://cloud.githubusercontent.com/

[2017-05-26 20:03] jmatsushita commented on #74
I was also looking for this expecting that a `'*'` pattern would do the job but it doesn't.

[2017-05-29 13:46] DigitalLeaves opened #302 "FAQ: max file size for data transmitted via seneca?"
Hi there!
I've been using Seneca successfully for quite some time now. However, I've never transmitted files. I wonder what's the size limit, if any, to the package data transmitted in seneca.act(...).

[2017-06-07 16:46] DigitalLeaves opened #303 "FAQ: listen concurrency and serving multiple clients"
Hi there!
I have used seneca in the past for some projects, but I am planning on deploying it in a arquitecture where there's a database microservice that will eventually receive several simultaneous requests from clients all over the arquitecture.

My question is related to how many clients can seneca serve comfortably, and knowing best practices for deployment. I am using PM2 to keep instances o

[2017-06-12 14:51] d-kurochkin opened #304 "Roadmap is outdated"
Current roadmap does not represent actual state of the project.

Link: http://senecajs.org/roadmap/

[2017-06-20 21:24] chippawah commented on #292
@MatiasOS Was there a solution out of 566?

[2017-06-27 19:10] amanagarwal2189 opened #305 "Link to Getting started document in Github description is broken"
On the page https://github.com/senecajs-attic/getting-started, the link to Getting started is **http://senecajs.org/get-started/** which gives a '404'.

[2017-06-28 00:46] nfantone commented on #305
@amanagarwal2189 You are correct. The proper link would be http://senecajs.org/getting-started/.

This should really be opened over at the [senecajs-attic](https://github.com/senecajs-attic/) repo, though. I'll do it for you.

[2017-06-28 00:46] #305 closed

[2017-06-28 00:49] #273 closed

[2017-07-06 16:23] ademega4 opened #306 "FAQ:"
Is it advisable to use facebook graphql with senecal, if so can you briefly explain how to go about it. Thanks.

[2017-07-12 09:01] sopaco opened #307 "How could I remove a dropped or invalide client manually?"
Has some apis like seneca.removeClient or such function in seneca?

[2017-07-14 13:18] Wardormeur opened #308 "Missing documentation for API :"
- [ ]  prior (old but accessible through examples: http://senecajs.org/docs/tutorials/understanding-prior-actions.html),
- [ ]  decorate (available through old doc: http://senecajs.org/api/old.html#decorate-name-handler-),
- [ ] inward (new :3.4),
- [ ] outward (new :3.4)

[2017-08-13 20:37] infin8loop opened #310 "pattern is limited to 111 characters"
Calling seneca.add with a jsonic pattern parameter longer than 111 characters (the jsonic config default for maxchars) generates the following error:

Is there a way to configure it to use longer jsonic patterns?

[2017-08-18 23:28] mchavarriae opened #311 "I have a Google Pub/Sub transport to share, how can I do?"

[2017-08-23 16:02] jmoyson opened #312 "Entities in Seneca link broken in doc"
The "Entities in Seneca" link in the [Seneca with promise](http://senecajs.org/docs/tutorials/seneca-with-promises.html) page is broken, it point to : http://senecajs.org/tutorials/understanding-data-entities.html while it should point to http://senecajs.org/docs/tutorials/understanding-data-entities.html.

[2017-10-30 18:18] davide-talesco opened #313 "is How to write a plugin tutorial Out of Date?"
Hi,

I am new to seneca, was going through the below tutorial but most of the steps does not work / return the expected result.

Do you guys know if that is based on a old version or / and if there is any relevant up to date docs?

http://senecajs.org/docs/tutorials/how-to-write-a-plugin.html#a-plugin-is-a-module

[2017-11-04 11:27] cordovapolymer opened #314 "we also use seneca and its great!"
Hi, we use Seneca for our backend services at [Wanna Taxi](https://wanna.taxi), please add our [logo](https://wanna.taxi/images/logo.svg) to your users page.

[2017-11-13 11:01] telekosmos opened #315 "unit test color example seems not to be working"
Hi
I dunno wheter or not this is the repo for this issue or seneca repo itself...

Well actually I was trying to setup unit tests based on the example in the unit testing documentation for a personal project . So, I've replicated the color example files at https://github.com/senecajs/senecajs.org/tree/master/code/unit-testing but I noticed the tests are doing (almost) nothing as if you replace `ex

[2017-11-15 14:33] MatiasOS commented on #292
@chippawah This is solved now.

[2017-11-22 12:33] futureturnip opened #317 "Documentation: Entities Sample is 404"
1. Attempt to navigate to http://senecajs.org/data-entities.html
2. Observe: 404.

This is the first example link on the sample s page: https://github.com/rjrodger/seneca-examples

[2017-11-25 13:30] ymwhat commented on #285
I‘m facing the same question， any fix? @Shobhit28

[2017-11-26 18:32] davide-talesco opened #318 "Out of date tutorials ?"
Hi,

can you confirm content @ http://senecajs.org/docs/tutorials/logging-with-seneca.html is out of date?

I am going through the tutorial but most of the output I get does not match the tutorial data.
As an example if I run:

sales-tax.js --seneca.log.print

I get the following output:
ie-macp-davidt:sales-tax davide_talesco$ node sales-tax.js --seneca.log.print
123

while as per Docs I should g

[2017-11-28 21:16] beware-of-leopard opened #319 "Typo in unit testing tutorial"
http://senecajs.org/docs/tutorials/unit-testing.html

"more complere picture"

"additional strack tracking"

[2017-12-12 11:10] gntem commented on #314
@cordovapolymer logo returns an 404

[2017-12-30 16:37] cordovapolymer commented on #314
@gntem , thanks, it's now again there!

[2018-02-04 16:15] cordovapolymer commented on #314
@gntem bump!

[2018-02-09 09:19] freeweed opened #321 "FAQ: act cross server"
Hi every one.

It's possible to act from one service (e.g. localhost) to another service (e.g. in digitalocean) that stay in another server and behind authentication policy, so it's require token (I solve that by modify header in  seneca-transport node_modules). I already try to set host, path and port in seneca listen but it's throw error seneca: listen EADDRNOTAVAIL.

Here's my question is
1. It

[2018-02-17 12:51] #319 closed

[2018-02-20 22:29] grenudi opened #322 "markdown on /plugins page of your's is not working"
or is it have to be in that way ?
===
 - This is what is displayed instead of icons:
`[![version][web-npm-version]][web-npm-url] [![downloads][web-npm-downloads]][web-npm-url] [web-npm-version]: https://img.shields.io/npm/v/seneca-web.svg?style=flat-square [web-npm-downloads]: https://img.shields.io/npm/dm/seneca-web.svg?style=flat-square [web-npm-url]: https://npmjs.org/package/seneca-web`

[2018-02-24 13:22] #160 closed

[2018-02-25 23:25] grenudi commented on #322
- i fixed it , and created the pull request #323
- it was a matter or few lines
![image](https://user-images.githubusercontent.com/17498075/36647822-2e0e523a-1a9c-11e8-9dce-d58fae856740.png)

[2018-02-26 14:56] #322 closed

[2018-04-09 16:42] fandong90 opened #326 "FAQ: invoke app.use(seneca.export("web")); throw err (app.use() requires a middleware)"
var seneca=require("seneca")();
seneca.add('role:api,cmd:bazinga',function (msg,done) {
     done(null,{bar:"Bazinga!"});
  });
seneca.act("role:web",{use:{
    prefix:'/my-api',
    pin:{role:'api',cmd:'*'},
    map:{
        bazinga:{GET:true}
    }
}});
var express=require('express');
var app=express();
app.use(seneca.export("web"));
app.listen(3000,function () {
    console.log("visit port"+pr

[2018-04-19 21:23] shikhaagarawal opened #327 "FAQ:"
Hi, I am working on a POC to migrate java based microservices using node and express. I had have gone through Seneca API but could not find definite answers on below.

1. How to call another API endpoint which is hosted on different env/system, if so how to apply certificates for the external APIs.
2. How to convert external API end point XML response to JSON?
3. How to connect Sybase and SQL serv

[2018-04-23 05:48] tswaters commented on #326
I'd take a look at the usage docs for `seneca-web-adapter-express`

https://github.com/senecajs/seneca-web-adapter-express

Looks like what you have is from a pretty old version of seneca-web.

[2018-06-26 06:21] #134 closed

[2018-07-26 02:38] jpnathan opened #328 "We use Senecajs"
Hi, we use Senecajs in our backend [Btime.io](https://btime.io). It would be awesome to have our logo on the Senecajs website!

[2018-07-31 18:13] rjrodger commented on #328
Of course! Happy to accept a pull request against this repo :)

[2018-09-28 13:08] robertpersaud opened #330 "FAQ: What's the best strategy to handle wild card requests?"
With our New Relic base line instrumentation, we're seeing an abnormal amount of time consumed by requests hitting the /* pattern (45%+). We are currently not handling it in as part of our seneca action URIs. What's the best strategy to bounce any pattern that arent mapped to any action?

![screen shot 2018-09-28 at 9 04 58 am](https://user-images.githubusercontent.com/40034784/46210155-f784f380-c

[2018-10-16 13:43] samzijlmans opened #331 "Competing consumer pattern (or other load balancing) in seneca?"
Hello,

I would like to know if anyone has made a seneca application that uses the [competing consumer pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/competing-consumers)?

Or any other method of load balancing that deals with failure gracefully.

Thanks !

[2018-10-16 13:49] #331 closed

[2019-08-02 07:48] ShunPin opened #332 "Logging with Seneca error"
I am try to do tutorials on http://senecajs.org/docs/tutorials/logging-with-seneca.html
bug error occurs in LogHandlers.
another question, seneca.loghandler is still work?

D:\code\seneca-log-test\sales-tax-log-handler.js:8
      {level: 'all', handler: seneca.loghandler.file('shop.log')}
                                                ^
TypeError: Cannot read property 'file' of undefined
    at O

[2019-09-02 16:30] cawoodm opened #333 "Getting Started - Various Issues"
Just following the guide http://senecajs.org/getting-started/ and various things not working (Windows 10; NodeJS v11):

1. `node math-tree.js --seneca.print.tree` prints gobbledegook but no tree:
[code]

2. `curl -d '{"role":"math","cmd":"sum","left":1,"right":2}' http://localhost:10101/act` similarly:
[code]
Server prints:
[code]
Probably has something to do with how Windows/DOS handles quotes as

[2019-09-02 16:40] cawoodm commented on #333
Also, many examples use `console.log` as the callback (e.g. `.act('role:math,cmd:sum,left:1,right:2', console.log)`) which is very confusing since the callback has 3 parameters and the 3rd one is very verbose. I guess back in the day when the signature was `(error, response)` this was not an issue but today you get pages of debug info and think it didn't work:

[code]

[2019-09-02 16:51] cawoodm commented on #333
`node math-pin-service.js --seneca.log=plugin:math` produces no log output at all.

[2020-04-14 05:11] luciferkala opened #334 "FAQ: diffence of import and require"
Hello, I want to use seneca with Typescript.
So, I import seneca node package to use import statement.
I run tutorial code to have little change. Like this.

[code]
Could you tell me how can i use ES6 module system?
If this problem can't solve without CommonJS module system, then i use require statement.
Thanks

[2020-10-30 13:32] #72 closed

[2021-02-19 21:19] cynthiaguan opened #336 "FAQ: Does seneceJS can accept two types of messages"
Assume that I have a seneca server that listens to 8080, and this server is enhanced by Express.
When I send a http request to it, it's ok,

For example, if I extra add logic that is not related to http,

when the another server wants to act, instead of sending a request to fire . Is it possible ?

[2021-05-27 07:16] EddyZhang38 commented on #318
Oh, this issue is reported in year of 2017, and now is 2021.
4 Years has been passed!
---

Also didn't find APIs document for the following method:
in: https://senecajs.org/api/#methods

- seneca.wrap
- seneca.export

-Thanks

[2021-10-10 00:45] #328 closed